@using Application.Models
@model RegisterViewModel
@{
    ViewData["Title"] = "terms";
}
<br />
<section class="bg-white rounded-xl shadow-md max-w-7xl mx-auto py-10">
<h1 class="mt-10 text-center text-3xl font-bold">
    شرایط، الزامات و تعهدات استفاده از سایت آقای وکیل
</h1>
<p class="py-5 px-6 text-gray-900">
    دسترسی و استفاده کاربر از وبسایت آقای وکیل، مشروط به رعایت قوانین فوق‌الذکر و ضوابط و شرایط ذیل «قرارداد» آتی است. شما با ورود به وبسایت آقای وکیل، بدون هیچ‌گونه محدودیت و شرطی، قرارداد را پذیرفته و در صورت عدم موافقت با آن، لازم موکد است بلافاصله استفاده از این سایت را متوقف نمایید. ورود کاربران به وبسایت آقای وکیل به‌ منظور استفاده از خدمات حقوقی ارائه شده توسط وبسایت آقای وکیل به معنای آگاه بودن و در حکم امضاء و پذیرفتن قرارداد و همچنین سیاست‌های حفظ حریم شخصی وبسایت آقای وکیل است.
</p>

    <p class="px-7 py-4 text-2xl font-bold text-center">موجودیت ها و تعاریف</p>
<p class="py-4 px-7 text-2xl font-bold">تعاریف برخی از اصطلاحات به‌کاربرده شده در این توافقنامه از این ‌قرار است:</p>
<ul class="list-none pr-6 space-y-2">
    <li class="px-5">1 عبارات و اصطلاحات</li>
    <li class="px-5">1-1 سایت آقای وکیل</li>
    <li class="px-5">1-2 سامانه یا پلتفرم</li>
    <li class="px-5">1-3 کاربر عادی یا کاربر گیرنده خدمات</li>
    <li class="px-5">1-4 کاربر متخصص</li>
    <li class="px-10">1-4-1 وکیل پایه یک دادگستری کانون وکلا</li>
    <li class="px-10">1-4-2 وکیل پایه یک دادگستری مرکز وکلا</li>
    <li class="px-10">1-4-3 وکیل پایه دو دادگستری مرکز وکلا</li>
    <li class="px-10">1-4-4 کارآموز وکالت کانون وکلا</li>
    <li class="px-10">1-4-5 کارآموز وکالت مرکز وکلا</li>
    <li class="px-10">1-4-6 کارشناس حقوقی</li>
    <li class="px-5">1-5 شما، یا ضمیر مالکیت «تان»</li>
    <li class="px-5">1-6 حساب کاربری یا داشبورد</li>
    <li class="px-5">1-7 دسترسی</li>
    <li class="px-5">1-8 ساعت کاری و روز کاری</li>
    <li class="px-5">1-9 مشاوره حقوقی</li>
    <li class="px-5">1-10 کار بهاء مشاوره تلفنی</li>
    <li class="px-5">1-11 کار بهاء مشاوره حضوری</li>
    <li class="px-5">1-12 کار بهاء ارزیابی حقوقی هوشمند</li>
    <li class="px-5">1-13 حق الوکاله</li>
    <li class="px-5">1-14 شرایط، الزامات و تعهدات یا توافقنامه</li>
    <li class="px-5">1-15 قوانین و مقررات جمهوری اسلامی ایران</li>
    <li class="px-5">1-16 عامل پرداخت</li>
    <li class="px-5">1-17 روش های پرداخت</li>
    <li class="px-5">1-18 استفاده شخصی</li>
    <li class="px-5">1-19 پشتیبانی</li>
    <li class="px-5">1-20 تفسیر</li>
    <li class="px-5">1-21 قوانین حاکم</li>
    <li class="px-5">1-22 محتوا</li>
    <li class="px-5">1-23 محتوای حقوقی</li>
    <li class="px-5">1-24 خدمات آقای وکیل</li>
    <li class="px-10">1-24-1 خدمات مشاوره حقوقی آنلاین</li>
    <li class="px-10">2-24-1 خدمات مشاوره حقوقی تلفنی</li>
    <li class="px-10">3-24-1 خدمات مشاوره حضوری</li>
    <li class="px-10">1-24-4 خدمات مشاوره حقوقی برخط</li>
    <li class="px-10">1-24-5 خدمات ارزیابی تخصصی هوشمند</li>
    <li class="px-10">1-24-5 خدمات وکالت در پرونده</li>
    <li class="px-10">1-24-5 خدمات اوراق قضایی</li>
    <li class="px-10">1-24-8 خدمات قراردادها</li>
</ul>
</section>
<br />
<section class="bg-white rounded-xl shadow-md max-w-7xl mx-auto py-10">
<p class="px-7 py-5">
    <big>
        1-1- سایت آقای وکیل
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    وبسایت آقای وکیل یک موسسه حقوقی نیست، بلکه یک بازارگاه (Legal MarketPlace) اینترنتی دو طرفه برای ایجاد ارتباط بین وکلا و حقوق‌دانان متخصص و مراجعانی است که نیاز به دریافت خدمات حقوقی دارند. در این سند از وبسایت حقوقی آقای وکیل با عنوان آقای وکیل یاد خواد شد.
<h1 class="font-bold px-10 py-3">
    آقای وکیل صرفا یک پلتفرم مدیریت خدمات است و هیچ تعهدی نسبت به طرفین ندارد.
</h1>
</p>
<p class="px-7 py-5">
    <big>
        1-2- سامانه یا پلتفرم
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    به نرم افزار یا سخت افزاری که جهت تامین و براورده سازی نیاز کاربر در یک موضوع خاص طراحی و پیاده سازی شده باشد سامانه می گویند. در دنیای IT پلتفرم به معنای یک فضا که اجازه اجرای دیگر اجزا در یک چهارچوب مشخص را می دهد.
</p>
<p class="px-7 py-5">
    <big>
        1-3- کاربر عادی
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    هر شخصی حقیقی که از طریق یک نام کاربری (شماره تلفن همراه) و رمز عبور به سایت آقای وکیل دسترسی پیدا می‌کنید و از خدمات موجود بهره می برد.
</p>
<p class="px-7 py-5">
    <big>
        1-4- کاربر متخصص
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    کاربر متخصص فرد دارای تحصیلات حقوقی با کلیه گرایش های این رشته تحصیلی شامل وکیل پایه یک دادگستری، وکیل پایه یک قوه قضاییه، وکیل پایه دو قوه قضاییه، کارآموز کانون وکلای دادگستری، کارآموز قوه قضاییه، کارشناس رسمی دادگستری، اساتید حقوق دانشگاهها سردفتران و دفتریاران، مشاوران حقوقی سازمانی، کاربر متخصص اطلاق می گردد.
</p>
<p class="px-7 py-5">
    <big>
        1-4-1- کاربر وکیل
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    وکلای رسمی دادگستری اعم از وکلای عضو کانون های وکلای دادگستری و وکلا و مشاوران حقوقی مرکز وکلای قوه قضائیه موضوع ماده 187 قانون برنامه سوم توسعه که پس از احراز هویت و تایید تخصص، به منظور دریافت درخواست های حقوقی و ارایه خدمات حقوقی در سایت آقای وکیل ثبت نام و خدمات قابل رائه توسط خود را احراز کرده اند.
</p>
<p class="px-7 py-5">
    <big>
        1-4-2- کاربر کارشناس حقوقی
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    افرادی که دارای تحصیلات حقوقی و دارای اطلاعات حقوقی به صورت آکادمیک و تجربی هستند و توانایی ارائه راهکار و بررسی و حل و فصل امور حقوقی و کیفری را خواهند داشت. تخصص و تبحر و تسلط کامل بر دعاوی را دارا هستند اما دارای پروانه وکالت نمی باشند. پس بنابراین کارشناسان حقوقی قابلیت انجام روند قضایی در مجامع قضایی را ندارند.
</p>
<p class="px-7 py-5">
    <big>
        1-4-3- کاربر کارآموز وکالت
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    افراد مشغول به گذراندن دوران کارآموزی در کانون وکلای دادگستری و قوه قضاییه
</p>
<p class="px-7 py-5">
    <big>
        1-5- شما، یا ضمیر مالکیت«تان»
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    به معنی هر کاربر وب‌سایت (شامل کسانی که وارد وب‌سایت آقای وکیل می‌شوند یا وارد حساب کاربری می‌شوند و یکی از خدمات حقوقی را استفاده یا خریداری می‌کنند).
</p>
<p class="px-7 py-5">
    <big>
        1-6- حساب، حساب کاربری، پنل کاربری یا داشبورد
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    پنل کاربری شما، درگاه شخصی شما است که از طریق یک نام کاربری (شماره تلفن همراه) و رمز عبور به آن دسترسی پیدا می‌کنید، و از طریق آن به خدمات حقوقی مورد درخواست (برای کاربر عادی) یا ارائه خدمات حقوقی (برای کاربر متخصص) دسترسی خواهید داشت.
</p>
<p class="px-7 py-5">
    <big>
        1-7- دسترسی
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    به معنای اتصال و ورود به حساب کاربری و بهره مندی از خدمات حقوقی برای کاربران عادی و ارائه خدمات حقوقی برای کاربران متخصص می باشد.
</p>
<p class="px-7 py-5">
    <big>
        1-8- ساعت کاری و روزکاری
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    بخش پشتیبانی وبسایت آقای وکیل به صورت شبانه روزی در دسترس کاربران قراردارد و ثبت انواع درخواست های کاربران در هر ساعت از شبانه روز امکان پذیر است و مدت پاسخگویی به تیکت های پشتیبانی بنابر درج اولویت از سمت کاربران از بلافاصله تا 24 ساعت می باشد.
</p>
<p class="px-10 py-2 text-gray-900">
    ساعت کاری بخش مرکز تماس پشتیبانی شنبه تا چهارشنبه 9:30 الی17:30 و پنج شنبه 9:30 الی 13:30می باشد.
</p>
<p class="px-10 py-2 text-gray-900">
    قابل توجه می باشد که مدت زمان ارائه هر درخواست حقوقی ثبت شده بنابر نوع خدمت تعیین شده است که کاربر متخصص موظف به ارائه خدمت در زمان مقرر به کاربر عادی می باشد.
</p>
<p class="px-10 py-2 text-gray-900">
    مدت زمان انجام خدمات از زمان ثبت درخواست یا رزرو خدمت، در ادامه در بخش مربوط به هر خدمت شرح داده شده است.
</p>
<p class="px-7 py-5">
    <big>
        1-9- مشاوره حقوقی
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    ارتباط بین کاربر متخصص و کاربر عادی حول موضوع انتخاب شده در مشاوره و طرح موضوع و دریافت نظریه وکیل، ارائه راهکار قانونی و رفع ابهامات کاربر عادی در موضوع مورد مشاوره حقوقی است.
</p>
<p class="px-10 py-2 text-gray-900">
    این مشاوره حقوقی می تواند به صورت تلفنی و حضوری و یا ثبت پرسش حقوقی به صورت آنلاین با کاربر متخصص انجام پذیرد.
</p>
<p class="px-7 py-5">
    <big>
        10-1- کاربهاء مشاوره تلفنی
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    وجه قابل پرداخت توسط کاربر برای انجام مشاوره حقوقی تلفنی بین کاربر عادی و کاربر متخصص است.
</p>
<p class="px-7 py-5">
    <big>
        11-1- کاربهاء مشاوره حضوری
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    وجه قابل پرداخت توسط کاربر برای انجام مشاوره حقوقی حضوری بین کاربر عادی و کاربر متخصص است.
</p>
<p class="px-7 py-5">
    <big>
        12-1-کاربهاء تنظیم اوراق قضایی
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    وجه قابل پرداخت توسط کاربر برای نگارش و تنظیم انواع اوراق قضایی شامل انواع لایحه، شکواییه، دادخواست، اظهارنامه، اقرارنامه، توافقنامه، قراردادها و ... وبه طور کلی انواع متون حقوقی مورد استفاده در محاکم قضایی
</p>
<p class="px-7 py-5">
    <big>
        13-1- حق الوکاله
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    هزینه های مربوط به وکالت شامل حق الوکاله توافقی یا تعرفه ای و هزینه سفر و سایر هزینه هایی می شود که وکیل در جهت انجام وظایف وکالتی خود متحمل می شود.
</p>
<p class="px-7 py-5">
    <big>
        14-1- شرایط، الزامات و تعهدات یا توافقنامه
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    به معنی قرارداد قانونی که شما با ما می‌بندید و شامل این شرایط و تعهدات، سیاست حریم خصوصی، و دیگر سیاست‌ها، دستورالعمل‌ها و مقرراتی می‌شود که در وبسایت آقای وکیل وجود داشته و یا متعاقبا اصلاح و یا ابلاغ و اعلام می گردد.
</p>
<p class="px-10 py-2 text-gray-900">
    توجه داشته باشید شرایط، الزامات و تعهدات عضویت در سایت آقای وکیل در بازه های زمانی امکان تغییر دارد و شرح آن همیشه در دسترس کاربران قرار خواهد بود.
</p>
<p class="px-7 py-5">
    <big>
        15-1- قوانین و مقررات جمهوری اسلامی ایران
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    قانون اساسی، قوانین عادی، قانون تجارت الکترونیک، مصوبات هیات وزیران، مصوبات شورای عالی مجازی، آیین نامه های اجرایی، بخشنامه‌ها، دستورالعمل‌ها و کلیه ضوابط قانونی موضوعه.
</p>
<p class="px-7 py-5">
    <big>
        16-1- عامل پرداخت
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    موسسه مالی، بانک یا درگاه پرداختی که از آن برای پرداخت بهای ارائه خدمات درخواست شده استفاده می‌شود.
</p>
<p class="px-7 py-5">
    <big>
        17-1- روش های پرداخت
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    روش های پرداخت پرداخت شامل کارت به کارت و پرداخت از طریق درگاه بانکی می باشد.
</p>
<p class="px-7 py-5">
    <big>
        18-1- استفاده شخصی
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    خودآموزی و مقاصد شخصی به‌جز هرگونه دسترسی گروهی.
</p>
<p class="px-7 py-5">
    <big>
        19-1- پشتیبانی
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    کلیه پشتیبانی‌ها اعم از پشتیبانی: مالی - سفارشات - فنی و دیگر موارد صرفا از طریق قسمت پشتیبانی سایت آقای وکیل انجام خواهد شد. در ساعات کاری و ایام غیر تعطیل و در کل زمان در سال امکان پاسخگویی تلفنی با اولویت کمتر انجام خواهد شد. ملاک گفتگو و پشتیبانی سیستم پشتیبانی آقای وکیل می‌باشد.
</p>
<p class="px-7 py-5">
    <big>
        20-1- تفسیر
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    هرگونه ابهام در تعبیر و تفسیر در شرایط و تعهدات اعلامی جهت استفاده و فعالیت در سایت آقای وکیل، توسط موسسین و مدیران این وبسایت بیان و مشخص می شود، کلماتی مثل «شامل»، «ازجمله»، «همچون»، «مثل» و «از قبیل» به‌هیچ‌وجه محدودکننده نیستند و وقتی جایی از صلاحدید خودمان صحبت می‌کنیم، منظور صرفاً صلاحدید مدیران و متصدیان ذیصلاح در وبسایت آقای وکیل است (مگر آنکه در توافقنامه به گونه دیگری بیان ‌شده باشد).
</p>
<p class="px-7 py-5">
    <big>
        21-1- قوانین حاکم
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    آقای وکیل وبسایت یا پلتفرم خود را از داخل ایران اداره می‌کند. درنتیجه قوانین و مقررات جمهوری اسلامی ایران در مورد آن نافذ هستند و آقای وکیل از قوانین و مقررات ایران پیروی می‌کند و تحت نظام قضایی و حقوقی ایران عمل خواهد کرد. هرگونه قانونی که به شکل اجتناب‌ناپذیر در مورد و موضوع مرتبطی وارد و وضع باشد، در آن زمینه قانون در مورد آقای وکیل نافذ خواهد بود.
</p>
<p class="px-7 py-5">
    <big>
        22-1- محتوا
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    کلیه مطالب اعم از تصویری، نوشتاری و صوتی موجود در وب‌سایت است که شامل و نه محدود به اطلاعات، داده‌ها، گرافیک، نرم‌افزار، آیکون دکمه، علائم تجاری، سرویس‌های الکترونیکی، تصاویر، فایل‌های صوتی و تصویری است درصورتی‌که محتوا توسط آقای وکیل بارگذاری شود، محتوای آقای وکیل و اگر توسط کاربر بارگذاری شود، محتوای کاربران نامیده می‌شود. کلیه محتواهایی که از طرف کاربران بارگذاری شود چه متخصص و چه مشتری
</p>
<p class="px-7 py-5">
    <big>
        23-1- محتوای حقوقی
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    کلیه اسناد حقوقی و قراردادهای موجود در وبسایت است، مالکیت محتوای حقوقی متعلق به آقای وکیل است و در صورت خرید محتوا توسط کاربران صرفاً مجوز استفاده از محتوای حقوقی داده می‌شود نه مالکیت محتوای حقوقی.
</p>
<p class="px-7 py-5">
    <big>
        24-1- خدمات آقای وکیل
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    آقای وکیل یک پلتفرم حقوقی بر خط (Online) است.
</p>
<p class="px-10 py-2 text-gray-900">
    خدمات آن شامل و نه محدود به ارائه بستر جهت: مشاوره حقوقی آنلاین - مشاوره حقوقی تلفنی - مشاوره حقوقی حضوری - بانک لوایح و اسناد حقوقی و قضائی و قراردادها - ارائه خدمات داوری - کنترل کیفیت و فرایند پرونده‌های حقوقی - مرکز تماس و پشتیبانی حقوقی مردم برطرف متخصصین (وکلا و کارشناسان حقوقی) - درخواست ثبت شرکت، اختراع، برند در داخل و خارج - درخواست ارزیابی حقوقی هوشمند توسط وکیل و کارشناس حقوقی برای کلیه اشخاص حقوقی و حقیقی و پشتیبانی تمامی خدمات اعلامی در بالا می باشد.
</p>
<p class="px-7 py-5">
    <big>
        1-24-1- خدمات مشاوره حقوقی آنلاین
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    امکان طرح پرسش حقوقی توسط کاربرعادی از طریق آقای وکیل به صورت مکتوب و دریافت پاسخ قانونی توسط متخصصین
</p>
<p class="px-7 py-5">
    <big>
        1-24-2- خدمات مشاوره حقوقی تلفنی
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    شامل رزرو و پرداخت هزینه و تعیین وقت مشاوره حقوقی تلفنی برای کاربرعادی و ارائه مشاوره حقوقی تلفنی توسط کاربران متخصص
</p>
<p class="px-7 py-5">
    <big>
        1-24-3- خدمات مشاوره حضوری
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    شامل رزرو و پرداخت هزینه و تعیین وقت مشاوره حقوقی حضوری برای کاربرعادی و ارائه مشاوره حقوقی حضوری توسط کاربران متخصص به کاربر عادی مراجعه کننده به محل مشاوره
</p>
<p class="px-7 py-5">
    <big>
        1-24-4 خدمات مشاوره حقوقی آنلاین (چت)
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    مشاوره حقوقی به صورت چت آنلاین در محیط پیام رسان آقای وکیل با کاربران متخصص با پرداخت هزینه
</p>
<p class="px-7 py-5">
    <big>
        1-24-5- خدمات ارزیابی تخصصی هوشمند
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    شامل ثبت پرونده قضایی، شرح حال پرونده، مدارک پرونده و موضوع مورد تقاضا، توسط کاربر عادی در پلتفرم آقای وکیل و متعاقبا بررسی تخصصی و اعلام راهکار توسط کاربران متخصص جهت انجام پروسه قضایی، میزان و درصد پیش بینی موفقیت، مدت زمان انجام و مبلغ حق الوکاله می شود.
</p>
<p class="px-7 py-5">
    <big>
        1-24-6- خدمات وکالت در پرونده
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    اعلام وکالت رسمی دادگستری توسط وکلا در خصوص پیگیری حقوق موکل در پرونده های قضایی و شبه قضایی طبق شرایط و تعهدات مندرج در وکالتنامه و قرارداد جداگانه وکالت با وکیل
</p>
<p class="px-10 py-2 text-gray-900">
    توجه: خدمت اخذ وکالت وکلا از طریق پلتفرم آقای وکیل ارائه نمی شود و در صورت دریافت این خدمت از متخصصین حاضر در سایت هیچ تعهدی از این بابت برعهده وبسایت آقای وکیل نمی باشد
</p>
<p class="px-7 py-5">
    <big>
        1-24-7- خدمات محاسبات حقوقی
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    امکان استفاده ار سرویس محاسبات حقوقی پلتفرم آقای وکیل برای کاربران جهت محاسبه مهریه به نرخ روز، خسارت تاخیر تادیه دین، سهم الارث، دیه قتل، دیه سقط جنین، دیه بر اساس دادنامه
</p>
<p class="px-7 py-5">
    <big>
        1-24-8- خدمات اوراق قضایی
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    تنظیم اوراق قضایی مانند انواع لوایح، دادخواست، شکواییه، اظهارنامه و استشهادیه بنابر درخواست و نیازمندی کاربر عادی توسط کاربر متخصص
</p>
<p class="px-7 py-5">
    <big>
        1-24-9- خدمات قراردادها
    </big>
</p>
<p class="px-10 py-2 text-gray-900">
    ارائه و تنظیم و نگارش انواع قراداد بر اساس تخصص کاربر متخصص بنا به سفارش کاربر عادی
</p>
</section>
<br />
<section class="bg-white rounded-xl shadow-md max-w-7xl mx-auto py-10">

<p class="mt-5 text-3xl text-center">
    مسئولیت ها و تعهدات عمومی کاربران-حساب کاربری
</p>

<ul class="px-10 py-5 list-decimal">
    <li class="px-3 py-3">کاربران اعم از کاربر عادی و کاربر متخصص با ثبت نام در پلتفرم یا وبسایت آقای وکیل و همچنین با هر بار استفاده از پلتفرم می‌پذیرد که شرایط، الزامات و تعهدات استفاده از سایت آقای وکیل و همچنین قوانین حفظ حریم شخصی سامانه آقای وکیل را به صورت کامل مطالعه کرده و با اطلاع کامل از شرایط و معانی آن و بدون هیچگونه محدودیت و شرطى، مفاد این اسناد را پذیرفته و در صورت عدم موافقت با آن، لازم است بلافاصله استفاده از وبسایت آقای وکیل را متوقف نماید. هرگونه استفاده از سایت آقای وکیل به معنی پذیرفتن شرایط مندرج در این سایت است. سامانه آقای وکیل هیچ توافقی با کاربران خارج از این شرایط ندارد. قوانین جمهوری اسلامی ایران بر تعبیر، تفسیر، اجرا و تأثیر این توافق‌نامه حاکم خواهند بود.</li>
    <li class="px-3 py-3">
        قوانین و مقررات ذکر شده ممکن است در طول زمان تغییر کند، بنابراین کاربران ملزم به بررسی قوانین پلتفرم در هر بار استفاده از آن می باشند و استفاده کاربران از وبسایت یا اپلیکیشن به معنی پذیرش هرگونه تغییر در قوانین و مقررات آن است. بنابراین سامانه آقای وکیل بنابر صلاحدید می تواند شرایط توافقنامه را تغییر دهد، اما تمام تلاش بر این خواهد بود که اطلاعات مربوط به تغییرات در وبسایت منتشر شود یا اطلاع رسانی شود. اگر بعد از تغییر شرایط توافقنامه همچنان به استفاده از وبسایت ادامه دهید، به معنی آن است که شرایط جدید یا اصلاح‌شده را پذیرفته‌اید.
    </li>
    <li class="px-3 py-3">
        کاربر متعهد می‌گردد که صرفاً با شماره تلفن همراه متعلق به خود نسبت به ثبت نام در آقای وکیل اقدام نماید. در غیر این صورت در برابر صاحب امتیاز خط تلفن همراه، تماماً مسئول بوده و آقای وکیل به محض آگاهی از این موضوع می تواند نسبت به لغو عضویت کاربر مذکور اقدام نماید.
    </li>
    <li class="px-3 py-3">
        بنا به مورد و حسب صلاحدید سامانه آقای وکیل، امکان دارد در ارائه برخی خدمات از کاربرعادی و کاربر متخصص درخواست اطلاعات تکمیلی، ارائه مدارک و یا اصلاح اطلاعات گردد؛ در این صورت کاربر، متعهد به ارائه اطلاعات و یا اصلاح اطلاعات درخواستی در مدت اعلام شده از سوی آقای وکیل خواهد بود. در غیر این صورت پلتفرم آقای وکیل می‌تواند حساب کاربری وی را مسدود کرده و از ارائه خدمات به کاربر مذکور خودداری کند.
    </li>
    <li class="px-3 py-3">
        کاربران می بایست آدرس پست الکترونیک خود را به همراه سایر اطلاعات درخواستی به‌طور صحیح اعلام نموده و مسئولیت ثبت اشتباه و یا خلاف واقع بر عهده شخص کاربر است.
    </li>
    <li class="px-3 py-3">
        کاربران بالاخص کاربران متخصص، در صورتی که برای ثبت نام در حساب کاربری و تکمیل اطلاعات، عمدا و یا سهوا از درج، تقلید یا جعل هویت دیگران استفاده کنند، در هنگام استعلام و تایید صلاحیت و دسترسی کاربران متخصص، حساب کاربریشان رد خواهد گردید. همچنین امکان محرومیت همیشگی برای کاربر اعلام وجود خواهد داشت.
    </li>
    <li class="px-3 py-3">
        کاربران مجاز نیستند که نام کاربری و رمز ورود حساب خود را در اختیار شخص دیگری قرار بدهند، و یا به کسی اجازه بدهند به‌حساب و خدمات ارائه‌شده دسترسی پیدا کند.
    </li>
    <li class="px-3 py-3">
        کاربران اعم‌از متخصص و مشتری متعهد به نگهداری شناسه و رمز عبور خود می‌باشد. موکدا توصیه می‌شود نسبت به تغییر رمز عبور به صورت دوره‌ای اقدام شود. مسئولیت آثار قانونی استفاده از حساب کاربری متوجه صاحب آن می‌باشد.
    </li>
    <li class="px-3 py-3">
        هر زمان که کاربران از استفاده غیرمجاز از نام کاربری، رمز، حساب، یا خدمات ارائه‌شده، مطلع گشتند، باید در سریع‌ترین زمان ممکن به پشتیبانی آقای وکیل اطلاع دهند.
    </li>
    <li class="px-3 py-3">
        پس از ایجاد حساب کاربری، امکان حذف حساب کاربری امکان پذیر نیست و صرفا امکان انسداد و غیرفعال نمودن حساب کاربری وجود دارد. دقت داشته باشید اطلاعات حساب کاربری کاربران کاملا محرمانه تلقی شده و این اطلاعات بر اساس سطوح دسترسی و پروتکل های خاصی برای تیم پشتیبانی آقای وکیل در دسترس خواهد بود.
    </li>
    <li class="px-3 py-3">
        کاربران مسئولیت صحت و اصالت اطلاعاتی که در حساب خود وارد می‌کنند، را تماماً بر عهده دارند.
    </li>
    <li class="px-3 py-3">
        در هر زمان بنا به صلاحدید، وبسایت آقای وکیل می تواند بدون هماهنگی قبلی دسترسی کاربران را ببندد.
    </li>
    <li class="px-3 py-3">
        کاربران مسئول هستند که نام کاربری و رمز ورود خود را محرمانه نگهدارند، و برای این کار تلاش لازم و معقول را انجام دهند.
    </li>
    <li class="px-3 py-3">
        کاربران خود مسئول تمام استفاده‌هایی هستند که از وبسایت و خدمات ارائه‌شده در ارتباط با حساب کاربریشان و نام کاربری و رمز ورودشان انجام می‌گیرد.
    </li>
    <li class="px-3 py-3">
        کاربران می‌پذیرند که آقای وکیل برای اطلاع رسانی های سامانه از بخش اعلانات استفاده نماید. و از ارسال ایمیل، پیامک و یا اعلان در حساب کاربری به عنوان راه ارتباطی آقای وکیل با وی استفاده کند.
    </li>
    <li class="px-3 py-3">
        کاربران می‌توانند درخواست کنند که ارسال این پیام‌ها قطع شود اما می‌پذیرند که با انصراف از دریافت این پیام‌ها، ممکن است در استفاده از خدمات با مشکل مواجه شود و یا اطلاعات مقتضی بموقع به ایشان نرسد.
    </li>
    <li class="px-3 py-3">
        هر شخص با توجه به مدارک هویتی، تنها می‌تواند یک حساب کاربری به عنوان کاربر عادی و در صورت واجد شرایط بودن تنها یک حساب کاربری به عنوان کاربر متخصص در پلتفرم آقای وکیل ایجاد نماید. در صورتی که آقای وکیل اطلاع یابد که به نام یک شخص اعم از حقیقی و یا حقوقی حساب‌های کاربری متعدد وجود دارد مجاز خواهد بود نسبت به قطع خدمات و غیرفعال نمودن تما یا هر یک از حساب‌های کاربری مذکور اقدام نماید.
    </li>
    <li class="px-3 py-3">
        کاربران اعم از عادی و متخصص متعهد به رعایت همه قوانین اسلامی، شرعی، اخلاقی و اجتماعی جمهوری اسلامی ایران از جمله رعایت مقررات دنیای مجازی و قوانین و مقررات جرایم رایانه ای و قوانین الکترونیکی در هنگام استفاده از آقای وکیل هستند.
    </li>
    <li class="px-3 py-3">
        کاربران جهت استفاده از خدمات حقوقی و بالاخص بخش پرسش و پاسخ حقوقی آنلاین و مشاوره حقوقی تلفنی، صرفا امکان ثبت درخواست برای صاحب حساب کاربری را دارند.
    </li>
    <li class="px-3 py-3">
        سقف استفاده از خدمات پرسش و پاسخ حقوقی انلاین رایگان برای کاربران، تعداد 20 پرسش در مدت 3 ماه می باشد و استفاده بیشتر از مقدار درج شده، دارای محدودیت در پنل کاربری می باشد.
    </li>
</ul>
</section>
<br />
<section class="bg-white rounded-xl shadow-md max-w-7xl mx-auto py-10">
    <p class="mt-5 text-3xl text-center">
        مسئولیت ها، تعهدات و اختیارات کاربران - استفاده از پلتفرم آقای وکیل
    </p>
    <p class="py-5 px-6 text-gray-900">
        با توجه به این قرارداد میان آقای وکیل و کاربر، آقای وکیل حق استفاده غیر انحصاری، قابل‌فسخ و غیرقابل‌انتقال از وبسایت آقای وکیل را به کاربر اعطاء می‌کند. کلیه حقوق، مالکیت و منافع پلتفرم آقای وکیل به‌استثنای اطلاعات شخصی کاربر، در مالکیت انحصاری وبسایت آقای وکیل و اشخاصی است که وبسایت آقای وکیل به آن‌ها مجوز بهره‌برداری از پلتفرم را اعطاء کرده است.
    </p>
    <ul class="px-10 py-5 list-decimal">
        <li class="px-3 py-3">
            کاربران می‌پذیرند که آقای وکیل یک بازارگاه (Legal MarketPlace) اینترنتی دو طرفه برای ایجاد ارتباط بین وکلا و حقوق‌دانان متخصص و مراجعانی است که نیاز به دریافت خدمات حقوقی دارند.
        </li>
        <li class="px-3 py-3">
            آقای وکیل به‌عنوان یک پلتفرم ارائه‌دهنده خدمات مدیریت و تسهیل ارتباطات حقوقی، صرفاً نقش واسطه‌ای میان کاربران و وکلای معرفی‌شده ایفا می‌کند و هیچ‌گونه تعهد، مسئولیت یا دخالتی نسبت به محتوای خدمات ارائه‌شده توسط وکیل یا نحوه انجام امور حقوقی و مراحل رسیدگی به پرونده‌های حقوقی و کیفری ندارد. این پلتفرم تنها در زمینه ارائه خدمات مشاوره تلفنی و آنلاین (چت برخط) کنترل و نظارت لازم را اعمال می‌نماید و مسئولیت اقدامات یا تصمیمات وکیل در فرآیند رسیدگی به پرونده‌ها به‌طور کامل بر عهده وکیل مربوطه است.
        </li>
        <li class="px-3 py-3">
            کاربر عادی متعهد می‌شود پس از دریافت خدمات حقوقی، فقط در شرایط ضروری و با اطلاع آقای وکیل از اطلاعاتی مانند شماره تلفن کاربر متخصص که توسط سامانه ارائه شده است استفاده نماید، در هر صورت اطلاعات مذکور به صورت امانت در اختیار کاربر قرار گرفته و در صورت نقض تعهدات مذکور، پلتفرم آقای وکیل مجاز به پیگیری حقوقی و کیفری موضوع خواهد بود.
        </li>
        <li class="px-3 py-3">
            کاربران اعم از کاربر عادی و بالاخص کاربر متخصص حق ارائه و دریافت خدمات حقوقی بدون هماهنگی و بدون ثبت در پلتفرم آقای وکیل را ندارند، به این معنا که کاربر عادی خود تمام مسئولیت دریافت هر گونه خدماتی حقوقی بالاخص اعطای وکالت و تنظیم قرارداد وکالت با وکلا خارج از پلتفرم آقای وکیل را خواهد داشت و در صورتی که سامانه آقای وکیل مطلع گردد، می تواند حساب کاربری هریک از کاربران متخصص و عادی را بدون اطلاع قبلی غیرفعال نماید.
        </li>
        <li class="px-3 py-3">
            کاربران متعهد می شوند در صورت هر نوع نارضایتی در خدمات ارائه شده در پلتفرم آقای وکیل، موضوع را از طریق مرکز پشتیبانی آقای وکیل پیگیری کرده و نمی تواند شخصا هیچگونه اقدامی انجام دهد.
        </li>
        <li class="px-3 py-3">
            کاربران می پذیرند در صورتی که به وبسایت ثالث متصل شوند، فعالیت آنها ممکن است علاوه بر ضوابط آقای وکیل مشمول شرایط و قوانین وبسایت ثالث نیز گردد.
        </li>
        <li class="px-3 py-3">
            کاربر عادی می‌پذیرد تنها زمانی نسبت به ثبت درخواست اقدام نماید که قصد واقعی استفاده از خدمات حقوقی را داشته باشد.
        </li>
        <li class="px-3 py-3">
            کاربران متعهد می گردند در هنگام درج دیدگاه رعایت موازین شرعی و قانونی و ادب و احترام را قائل باشند.
        </li>
        <li class="px-3 py-3">
            کاربر عادی می پذیرد هرگونه اطلاعات دارای جنبه سری، حیاتی یا شخصی که ممکن است مورد سوءاستفاده‌ سایرین قرار بگیرد را از اطلاعات ارسالی در درخواست های خود برای سامانه حذف کرده و سپس آن‌ها را ارسال کند. در صورت عدم رعایت این بند، مسئولیت سوءاستفاده از این اطلاعات توسط سایر کاربران بر عهده‌ی کاربر عادی خواهد بود.
        </li>
        <li class="px-3 py-3">
            کاربر عادی متعهد می گردد در شرح درخواست حقوقی خود، از بکار بردن اسامی افراد، شماره تماس، ایمیل، نام ارگان ها و شرکت ها، افراد سر شناس و این چنین جدا خودداری کند. بدین منظور کاربر عادی متعهد رعایت ادب و احترام و موازین قانونی را در شرح درخواست های خدمات حقوقی می باشد. و کاربران تماما خود مسئول محتوای درخواست مطروحه در سایت می باشد.
        </li>
        <li class="px-3 py-3">
            کاربران اعم از کاربر متخصص و کاربر عادی امکان درج پرسش حقوقی یا راهکار حقوقی در بخش دیدگاه ها را نخواهند داشت، زیرا صرفا بخش دیدگاه به منظور ارسال نظرات می باشد و به پرسش های مطرح شده در قسمت دیدگاه پاسخ داده نخواهد شد و همچنین پاسخ های ثبت شده در قسمت دیدگاه مورد تایید و انتشار قرار نخواهند گرفت. بنابراین کاربران موظف هستند دقت لازم را در این خصوص به عمل آورند.
        </li>
        <li class="px-3 py-3">
            کاربران عادی و متخصص متعهد می گردند، از درج شماره تماس و ایمیل و کلیه راه های ارتباطی در متن درخواست و یا ارائه راهکار خود اجتناب کنند.
        </li>
        <li class="px-3 py-3">
            کاربران اعم از کاربر متخصص و کاربر عادی می پذیرند که باید به نحو دقیق، مطالب آموزشی و فایل های راهنمای مربوط به دریافت یا ارایه ی هر خدمت حقوقی را مطالعه نموده و بر اساس آن ها اقدام نماید.
        </li>
        <li class="px-3 py-3">
            آقای وکیل با استفاده از نظارت‌های خود و انجام نظرسنجی از کاربر عادی در پایان دریافت خدمت، تلاش می‌کند خدمات با کیفیت مطلوب ارائه دهد.
        </li>
        <li class="px-3 py-3">
            چنانچه هر یک از کاربران در زمان استفاده از خدمات وبسایت آقای وکیل با مشکلی مواجه شوند، برابر شرایط فوق می‌توانند موضوع را از طریق بخش پشتیبانی پلتفرم آقای وکیل مطرح و بخش های مربوطه پیگیری لازم و تلاش خود را جهت حل و فصل اختلافات بعمل خواهد آورد.
        </li>
        <li class="px-3 py-3">
            کاربران اعم از عادی و متخصص می پذیرند در صورتی که در خصوص پایان اقدامات هر خدمت ارائه شده توسط کاربر متخصص در بستر پلتفرم، بین ایشان اختلافی حادث گردد، تصمیم آقای وکیل و تیم داوری حاضر در آقای وکیل فصل الخطاب خواهد بود و این تصمیم قطعی و لازم الاجرا است و هیچ اعتراضی از سوی طرفین مسموع نخواهد بود. و امکان هر گونه طرح دعوی در مجامع قانونی در این زمینه را از طرفین ساقط می کند.
        </li>
        <li class="px-3 py-3">

            مسئولیت های ذکر شده سامانه آقای وکیل در این سند فقط در فرضی است که کاربر عادی از طریق وبسایت یا اپلیکیشن آقای وکیل درخواست خدمت حقوقی ارسال کرده و کاربر متخصص نیز این درخواست را پذیرفته است. لذا اگر کاربران خارج از سامانه آقای وکیل با یکدیگر بر انجام خدمت توافق نمایند هیچ گونه مسئولیتی متوجه پلتفرم آقای وکیل نخواهد بود.
            بنابراین هرگونه اختلاف در دریافت خدمات حقوقی از متخصصین، غیر از بستر وبسایت آقای وکیل شامل هیچ گونه تعهد و پشتیبانی از سمت آقای وکیل نمی باشد.
        </li>
        <li class="px-3 py-3">
            پلتفرم آقای وکیل در هر زمانی که به نتیجه برسد که کاربر از این قوانین و شرایط و یا هر تعهدی، تخطی کرده‌ است، ممکن است دسترسی کاربر را به حساب کاربری را مسدود نموده و یا به صلاحدید خود محدود، معلق یا ملغی کند. البته آقای وکیل در به‌کارگیری این ضمانت اجرا و اتخاذ چنین تصمیمی، معقول و متعارف برخورد خواهد کرد.
        </li>
        <li class="px-3 py-3">
            کاربر عادی می پذیرد امکان حذف پرسش پاسخ داده شده توسط متخصصین از آقای وکیل وجود ندارد، شایان ذکر است در صورت انتخاب گزینه مایل نیستم پرسش حقوقی با نام خودم نمایش داده شود، نمایش پرسش با نام ناشناس خواهد بود.
        </li>
        <li class="px-3 py-3">
            کاربر عادی می پذیرد در صورت ثبت دیدگاه در مورد کاربر متخصص در خصوص خدمات حقوقی اخذ شده، سامانه می تواند متن نظر مذکور را به همراه نام ایشان به نمایش عموم بگذارد یا با درج گزینه مایل به نمایش با نام خود نیستم، همچنین کاربر متخصص مربوطه نیز حق دارد پاسخ نظردهی را مستدل بیان نماید. لذا توصیه اکید می‌شود کاربر عادی متنی که تمایلی به انتشار عمومی آن ندارد و یا مواردی که ناقض قوانین هستند اظهار ننماید.
        </li>
        <li class="px-3 py-3">
            کاربر عادی یا مشتری می پذیرد پس از استفاده از خدمات سایت آقای وکیل، در صورت درخواست حذف پروفایل سوابق کاری و پرسش های مطرح شده حذف نخواهد شد.
        </li>
        <li class="px-3 py-3">
            کاربر عادی می پذیرد برای دریافت مشاوره حقوقی تلفنی صرفا در زمان مقرر و اعلام گردیده از سوی متخصص، با شماره تماس در اختیار گذاشته شده، با متخصص مربوطه ارتباط برقرار نموده و مشاوره خود را دریافت نماید.
        </li>
        <li class="px-3 py-3">
            کاربران می‌پذیرند هزینه خدمات حقوقی  ارائه و اعلام شده از سوی متخصصین حاضر در آقای وکیل، ممکن است بسته به سابقه و‌ تخصص متخصص و ویژگی‌های خدمات حقوقی ارائه شده از جمله نوع خدمات حقوقی ، زمان خدمات حقوقی ، مدت زمان تخمینی جهت انجام خدمات حقوقی ، مکان خدمات حقوقی و تغییرات اعلام شده در حین خدمات حقوقی یا عوامل دیگر متغیر باشد. در هر صورت رقم اعلام شده از سوی متخصص بر اساس استانداردهای موجود و صلاحدید متخصص تعیین گردیده است و آقای وکیل در تعیین حق الزحمه دخالتی نداشته و در صورت پذیرش از سوی کاربران، ایشان حق طرح هیچگونه ادعا و اعتراضی دراین خصوص نخواهند داشت.
        </li>
        <li class="px-3 py-3">
            کاربر عادی/موکل می‌پذیرد که تعهد کاربر متخصص تعهد به وسیله است و تعهد به نتیجه نمی‌باشد و تمامی اظهارات کاربر متخصص در قالب مشاوره به ایشان نظر شخص کاربر متخصص است. کاربر عادی/موکل در پذیرش اظهارات کاربر متخصص مختار است و اگر خسارتی از این بابت به ایشان وارد شود آقای وکیل و کاربر متخصص مسئولیتی نخواهند داشت.
        </li>
        <li class="px-3 py-3">
            کاربر عادی/موکل می‌بایست قبل از ثبت درخواست خود کلیه مطالب آموزشی و توضیحات مندرج در سایت نسبت به هر عنوان حقوقی یا کیفری را با دقت مطالعه کرده و پس از آن نسبت به ثبت درخواست خود اقدام نماید و اگر ابهامی در این امر دارد با واحد پشتیبانی آقای وکیل تماس حاصل نماید.
        </li>
    </ul>
</section>
<br />
<section class="bg-white rounded-xl shadow-md max-w-7xl mx-auto py-10">
    <p class="mt-5 text-3xl text-center">
        شرایط و قوانین استفاده از بخش مشاوره حقوقی آنلاین
    </p>
    <ul class="px-10 py-5">
        <li class="px-3 py-3">
            سرویس گفتگو آنلاین در آقای وکیل به جهت شناسایی و دریافت راهکار مناسب برای حل مشکل حقوقی است. در این گفتگو متخصص اعم از وکیل و کارشناس حقوقی با ارائه راهنمایی‌های مربوط قدم بعدی ارائه تخصصی خود را اعلام می‌کند.
        </li>
        <li class="px-3 py-3">
            ارائه هرگونه خدمت از طرف متخصص منوط به ثبت سفارش خدمت و پرداخت هزینه آن است.
        </li>
        <li class="px-3 py-3">
            ثبت سفارش و پرداخت هزینه در گفتگو آنلاین حقوقی صرفاً برای مطرح کردن یک موضوع و مشکل حقوقی است. در صورت نیاز به گفتگو در خصوص موضوع جدید نیازمند ثبت سفارش جدید و یا پرداخت هزینه با درخواست به متخصص هستید.
        </li>
        <li class="px-3 py-3">
            ثبت سفارش و پرداخت هزینه در گفتگو آنلاین حقوقی صرفاً برای مطرح کردن یک موضوع و مشکل حقوقی است. در صورت نیاز به گفتگو در خصوص موضوع جدید نیازمند ثبت سفارش جدید و یا پرداخت هزینه با درخواست به متخصص هستید.
        </li>
        <li class="px-3 py-3">
            آرشیو پیام‌های ارسالی شما تا سه ماه بعد از پایان مشاوره در دسترس شما است و پس از پایان این مدت به صورت خودکار از پیام‌رسان آقای وکیل حذف خواهد شد.
        </li>
        <li class="px-3 py-3">
            مدت زمان هر گفتگو بر اساس ارائه راهکار مشکل متفاوت است. متخصص می‌تواند پس از ارائه راهنمایی‌های لازم نسبت به خاتمه گفتگو اقدام کند.
        </li>
        <li class="px-3 py-3">
            در صورت نارضایتی از کیفیت گفتگو می‌توانید در پایان گفتگو با درج دیدگاه کارشناسان بنیاد را نسبت به پیگیری موضوع مطلع فرمایید.
        </li>
        <li class="px-3 py-3">
            هرگونه ارائه اطلاعات تماس اعم از تلفن تماس، شناسه پیام رسان‌های دیگر و راه‌های ارتباطی خارج از آقای وکیل خلاف قوانین سامانه بوده و در صورت مشاهده حساب کاربری شما بدون هماهنگی برای همیشه مسدود خواهد شد.
        </li>
        <li class="px-3 py-3">
            هرگونه دریافت خدمات خارج از روال کاری آقای وکیل خلاف قوانین آقای وکیل است. آقای وکیل هیچ تعهدی نسبت به مبالغ پرداختی شما و کیفیت خدمات ارائه شده متخصص ندارد. آقای وکیل صرفاً خدماتی را نظارت می‌کند که از طریق مسیر کاری آقای وکیل هماهنگی می‌شود.
        </li>
    </ul>
    </section>
    <br />
<section class="bg-white rounded-xl shadow-md max-w-7xl mx-auto py-10">
    <p class="mt-5 text-3xl text-center">
        شرایط و قوانین استفاده از بخش مشاوره حقوقی تلفنی
    </p>
    <ul class="px-10 py-5">
        <li class="px-3 py-3">
            وکیل موظف است حداکثر تا ۳ ساعت کاری پس از رزرو مشاوره تلفنی از سوی شما (بجز ساعت ۰۰:۰۰ الی ۰۸:۰۰ بامداد)، با کمترین فاصله زمانی و سریعترین وقت خالی خود، نسبت به تعیین وقت مشاوره شما اقدام نماید.
        </li>
        <li class="px-3 py-3">
            پس از پذیرش مشاوره تلفنی از سوی وکیل و تعیین زمان انجام مشاوره از سوی ایشان، زمان برقراری تماس شما با ایشان به اطلاع شما خواهد رسید.
        </li>
        <li class="px-3 py-3">
            هرگونه تبادل اطلاعات تماس با وکیل خلاف قوانین سایت است و تمام مکالمات باید در بستر فراهم شده در سایت آقای وکیل انجام گیرد.
        </li>
        <li class="px-3 py-3">
            در صورت گذشت ۳ ساعت از ثبت مشاوره و عدم تعیین وقت از سوی وکیل مربوطه، به منزله‌عدم حضور و در دسترس بودن ایشان می‌باشد، شما میتوانید در طول مدت این ۳ ساعت و پس از آن با مراجعه به شماره سفارش خود، وکیل جدید و دیگری را انتخاب و جایگزین نمایید.
        </li>
        <li class="px-3 py-3">
            در صورتی که در راس ساعت مقرر شده تماس برقرار نمودید و وکیل پاسخگو نبودند، فرصت مشاوره برای شما محفوظ بوده و مجدد میتوانید در همان روز با وکیل تماس برقرار نمایید و یا با کمک پشتیبانی به وکیل جدیدی ارجاع شوید.
        </li>
        <li class="px-3 py-3">
            به دلیل ارائه خدمات تخصصی و بهره مندی از تجربیات وکلای دارای دانش تجربی مرتبط موضوع مشاوره، برای وکلا در سامانه آقای وکیل مقرر شده است تا در صورت‌عدم تجربه مشابه و تخصص کافی در موضوع مشاوره شما، اقدام به‌عدم پذیرش مشاوره نموده تا موکلان و کاربران فرصت استفاده از دانش سایر وکلای متخصص موضوع را داشته باشند، بنابر این سیاست گذاری، در صورتی که با پیام‌ عدم پذیرش مشاوره از سوی وکیل روبه رو شدید، می‌توانید به شماره سفارش خود مراجعه نموده و وکیل دیگری را انتخاب و جایگزین فرمایید.
        </li>
        <li class="px-3 py-3">
            پس از دریافت مشاوره در صورت نیاز به برقراری ارتباط مجدد جهت دریافت سایر خدمات حقوقی تکمیلی با وکیل مربوطه، با شماره ۰۲۱۴۲۸۱۸تماس حاصل نمایید و یا با ارسال تیکت از بخش پشتیبانی مراتب هماهنگی را اعلام نمایید.
        </li>
        <li class="px-3 py-3">
            در صورت درخواست لغو مشاوره قبل از دریافت مشاوره، از مبلغ مشاوره ۳۵٪ هزینه کنسلی کسر گردیده و مابقی جهت استفاده مجدد در اعتبار حساب کاربری شما منظور می‌گردد.
        </li>
        <li class="px-3 py-3">
            در صورتی که در موعد وقت مشاوره موفق به برقراری تماس با وکیل نشوید و یا در پیگیری هماهنگی مجدد از سوی پشتیبانی، پاسخگو نباشید، مشاوره با کسر ۳۵٪ هزینه کنسلی وقت تخصیص شده، لغو خواهد شد و مابقی مبلغ در اعتبار حساب کاربری شما جهت استفاده در دریافت خدمات منظور می‌گردد.
        </li>
    </ul>
    </section>
<br />
<section class="bg-white rounded-xl shadow-md max-w-7xl mx-auto py-10">
    <p class="mt-5 text-3xl text-center">
        شرایط، الزامات و تعهدات در تعاملات مالی
    </p>
    <ul class="px-10 py-5 list-decimal">
        <li class="px-3 py-3">
            خرید
            <ol class="px-3 py-3">
                هر نوع پرداخت از طریق عامل پرداخت برای دریافت خدمات از سایت آقای وکیل با کلمه خرید عنوان می گردد.

            </ol>
        </li>
        <li class="px-3 py-3">
            پرداخت هزینه خدمات
            <ol class="px-10 py-5 list-decimal">
                <li class="px-3 py-3">مبلغ قابل پرداخت برای خرید خدماتی اعم از حق المشاوره تلفنی و حق المشاوره حضوری، وکالت در پرونده، ارزیابی حقوقی و ... توسط کاربر متخصص ارائه شده و پلتفرم آقای وکیل بر تعیین حدود مبالغ اعلامی بر ارائه حق الزحمه های خارج عرف و شان وکالت نظارت کافی دارد اما هیچ مسئولیتی برای آقای وکیل جهت درج بهترین قیمت را ایجاد نمی کند.</li>
                <li class="px-3 py-3">
                    با توجه به اینکه اعلام هزینه توسط کاربر متخصص، ایجاب محسوب می گردد و قبول یا رد آن توسط کاربر عادی کاملا اختیاری است، لذا توافق حاصله مطابق ماده10 قانون مدنی بوده و فی مابین کاربر عادی و کاربر متخصص نافذ است.
                </li>
                <li class="px-3 py-3">
                    تمامی قیمت ها در سامانه آقای وکیل به تومان می باشد و کاربر عادی/موکل می پذیرد در هنگام پرداخت وجه خدمت، دقت و بررسی کامل در خصوص مبلغ درج شده را انجام نموده است، متعاقبا امکان لغو و استرداد وجه در حالتی که موکل بیان نماید بین ریال و تومان برداشت اشتباه داشته است امکان پذیر نمی باشد.
                </li>
                <li class="px-3 py-3">
                    کاربر عادی/موکل می‌پذیرد اعتباری که در حساب کاربری خود دارد مستقل از روش کسب آن (اگر در نتیجه افزایش اعتبار از طریق درگاه بانک باشد یا در نتیجه وارد کردن کدهای تخفیفی که آقای وکیل در اختیار آنها قرار می‌دهد یا لغو خدمت و بازگشت وجه به اعتبار ) فقط برای استفاده از خدمات آقای وکیل قابل استفاده است و امکان دریافت این وجه را به صورت نقد ندارد.
                </li>
                <li class="px-3 py-3">
                    کاربر عادی می پذیرد پرداخت هزینه خدمات فقط ازطریق روش‌های ارائه شده در پلتفرم آقای وکیل در بخش پنل کاربری صورت گیرد. این روش‌ها با عنوان روش های پرداخت در این سند ارائه شده است.
                </li>
                <li class="px-3 py-3">
                    کاربر عادی می پذیرد درصورت پرداخت ناموفق از طریق درگاه بانکی، شخصا مسئول پیگیری وجه کسر شده از سیستم بانکی مربوطه می باشد و از سمت آقای وکیل، وجه مذکور پرداخت نشده محسوب می شود و پلتفرم آقای وکیل در این خصوص مسئولیتی ندارد.
                </li>
                <li class="px-3 py-3">
                    اگر تراکنش پرداخت هزینه خدمت توسط عامل پرداخت (که خارج از کنترل ما است) برگشت بخورد، یا دچار مشکلی شود، و همچنین اگر تحت شرایط ذکرشده در این توافقنامه هزینه پرداختی توسط کاربر عادی یا مشتری عودت داده شود، وبسایت آقای وکیل دسترسی کاربر به محتوای خریداری‌شده و دریافت خدمات را معلق یا ملغی خواهد کرد.
                </li>
                <li class="px-3 py-3">
                    اگر به هر دلیلی تراکنش مشکوک و غیرقانونی اتفاق بیافتد، تراکنش‌های انجام‌شده لغو و باطل خواهد شد و آقای وکیل دسترسی کاربر به محتوای خریداری‌شده و خدمات دریافتی را معلق یا ملغی خواهد کرد، و همچنین این حق را برای خود محفوظ می‌دارد که به صلاحدید آقای وکیل حساب کاربری مربوطه را معلق یا مسدود کند.
                </li>
            </ol>
        </li>
        <li class="px-3 py-3">
            تخفیف ها
            <ol class="px-10 py-5 list-decimal">
                <li class="px-3 py-3">آقای وکیل بنابر سیاست های کاری خود در بازه های زمانی مختلف کدهایی به منظور تخفیف یا هدیه به کاربر عادی ارائه می کند که با وارد کردن این کدها در پلتفرم آقای وکیل، درصدی از هزینه خدمت حقوقی کسر می گردد یا درصدی از هزینه مذکور به کاربر برگردانده می ‌شود و یا مبلغ مشخصی به اعتبار کاربر در آقای وکیل اضافه ‌می شود. نحوه ارائه این خدمات و تعیین مهلت استفاده از آنها، منوط به تشخیص و صلاحدید آقای وکیل بوده و در صورت عدم تعلق کدهای مذکور، کاربر حق طرح هیچگونه ادعا و اعتراضی را در این خصوص نخواهد داشت.</li>
                <li class="px-3 py-3">
                    کاربران می‌پذیرند که اجازه انتقال یا فروش کدهای تخفیف و هدیه را به اشخاص دیگر ندارند. همچنین کاربرعادی مجاز نیست این کدها را به صورت عمومی منتشر کند. حتی اگر سامانه در فضاهای عمومی به نحوی که در دسترس عموم است، این کدها را منتشر کرده باشد.
                </li>
                <li class="px-3 py-3">
                    کاربرعادی می‌پذیرد کدهایی که جهت افزایش اعتبار یا کاهش هزینه خدمات حقوقی به وی داده می‌شود، ممکن است منقضی شوند. از آنجایی که وبسایت آقای وکیل برای ارئه این کدها هزینه ای از کاربر عادی دریافت نمی‌کند، این حق برای آقای وکیل محفوظ است که مبلغ یا درصد تاثیر این کدها را حتی پس از انتشار آنها تغییر دهد یا در صورت لزوم آنها را باطل کند.
                </li>
                <li class="px-3 py-3">
                    چنانچه وبسایت آقای وکیل تشخیص دهد که استفاده از این کد به دلیل خطای فنی یا تخلف، صورت گرفته و غیر مجاز بوده است می‌تواند این کدها یا اعتباری که در نتیجه استفاده از آنها به حساب کاربر عادی اضافه شده است را باطل یا حذف کند.
                </li>
            </ol>
        </li>
        <li class="px-3 py-3">
            عودت وجه
            <ol class="px-3 py-3">
                در صورتی که کاربر عادی به دلیلی درخواست عودت وجه مرتبط با برخی درخواست های حقوقی مانند کاربهاء مشاوره تلفنی و مشاوره حضوری پرداخت شده در وبسایت آقای وکیل را داشته باشد تحت شرایط مندرج در این توافقنامه، این امکان عودت وجه وجود خواهد داشت.

            </ol>
        </li>
    </ul>
    </section>
    <br />
<section class="bg-white rounded-xl shadow-md max-w-7xl mx-auto py-10">
    <p class="mt-5 text-3xl text-center">
        شرایط عودت وجه به موجودی و اعتبار حساب کاربری
    </p>
    <ul class="px-10 py-5 list-disc">
        <li class="px-3 py-3">دستورالعمل استرداد وجه خدمات مشاوره و تنظیم انواع اوراق قضایی و قرارداد به شرح زیر می باشد و کاربر ضمن پذیرش مطالعه قوانین و مقررات استفاده از سامانه، از موارد ذیل آگاه می باشد:</li>
        <li class="px-3 py-3">

            حالت اول- اگر کاربر عادی پس از انجام مشاوره از کیفیت مشاوره حقوقی دریافتی رضایت نداشته باشد و اعتراض خود را ظرف 6 ساعت پس از دریافت مشاوره اعلام نماید و برای تیم پشتیبانی محرز گردد، پلتفرم آقای وکیل در وهله اول با ارجاع خدمت مشاوره حقوقی به متخصص دیگر درصدد ایجاد رضایت کاربر عادی بر می آید. اگر کماکان عدم رضایت حاکم باشد اقدام به عودت وجه خدمت بدون کسر مبلغ از ارزش خدمت مبلغ پرداختی، تماما عودت می گردد. شایان ذکر است مدت زمان اعلام عدم رضایت و متعاقبا پذیرش عودت وجه 24 ساعت پس از ثبت درخواست خدمت می باشد و پس از این زمان با توجه به تسویه مبلغ خدمت با کاربر متخصص امکان عودت وجه امکان پذیر نخواهد بود.
        </li>
        <li class="px-3 py-3">

            تعریف شرایط درخواست کنسلی از سوی کاربر عادی/موکل: در صورت رزرو مشاوره حقوقی تلفنی، مشاوره حقوقی برخط، مشاوره حضوری و تنظیم اوراق قضایی و قرارداد توسط کاربرعادی برای کاربر متخصص و پرداخت هزینه، چنانچه کاربر عادی خدمت مربوطه را دریافت ننموده باشد و درخواست کنسلی از سوی شخص کاربرعادی/موکل باشد، 35% از هزینه پرداختی کسر و الباقی آن ظرف کمتر از 24 ساعت کاری در اعتبار حساب کاربری منظور خواهد گردید و کاربر می تواند با مراجعه به حساب کاربری خود از مبلغ موجودی جهت دریافت خدمات دیگر در زمان آتی استفاده نمایید.
        </li>
        <li class="px-3 py-3">

            دلایل کنسلی مربوط به کاربر عادی که منجر به کسر 35% کارمزد کنسلی و بازگشت مابقی وجه به اعتبار پنل کاربری کاربرعادی/موکل می گردد:
            <ol class="px-10 py-5 list-disc">
                <li class="px-3 py-3">عدم برقراری تماس تلفنی کاربر عادی/موکل در ساعت تعیین شده با کاربر متخصص، شایان ذکر است در صورت عدم رویت وقت معین شده جهت تماس با متخصص، عواقب ناشی از کنسل شدن مشاوره بر عهده کاربر عادی می باشد و کاربر عادی می تواند با مراجعه به حساب کاربری خود از موجودی حاصل از لغو سفارش در دفعات آتی جهت رزرو خدمات استفاده نماید و امکان استرداد وجه به حساب بانکی وی میسر نمی باشد.</li>
                <li class="px-3 py-3">
                    انصراف از ثبت خدمت پرداختی مذکور
                </li>
                <li class="px-3 py-3">
                    عدم مراجعه کاربر عادی/موکل به محیط پیام رسان پس از رزرو مشاوره آنلاین و عدم ارسال موضوع مشاوره یا تکمیل مکالمه متنی مشاوره آنلاین
                </li>
                <li class="px-3 py-3">
                    رزرو اشتباه خدمت مشاوره آنلاین به جای مشاوره تلفنی
                </li>
                <li class="px-3 py-3">
                    اعلام حل و فصل شدن مشکل حقوقی کاربر عادی به طرق دیگر
                </li>
                <li class="px-3 py-3">
                    در دسترس نبودن تلفن کاربر عادی پس از 2 بار پیگیری توسط پشتیبان
                </li>
                <li class="px-3 py-3">
                    عدم پاسخگویی تلفن کاربر عادی به تماس پشتیبانی پس از 2 بار پیگیری
                </li>
                <li class="px-3 py-3">
                    عدم حضور کاربر عادی/موکل در موعد مقرر ثبت شده در سفارش، به محل دفتر مربوط به کاربر متخصص
                </li>
            </ol>
        </li>
        <li class="px-3 py-3">
            حالت دوم- اعلام کاربر عادی/ موکل مبنی بر مناسب نبودن زمان انجام مشاوره:
            <ol class="px-10 py-5 list-disc">
                <li class="px-3 py-3">مطابق با اطلاع رسانی حین رزرو مشاوره تلفنی، بطور معمول امکان ارائه مشاوره و تعیین زمان جهت انجام مشاوره رزرو شده، در ساعت 00:00 الی 08:00 صبح میسر نمی باشد و مشاوره های رزرو شده در این ساعات برای اولین وقت خالی متخصص در روز جاری تعیین زمان می گردد. بدیهی است به جهت عدم دریافت مشاوره در این ساعات از شرایط عودت وجه برخوردار نخواهید بود و درخواست کنسلی از سوی شخص کاربرعادی/موکل تلقی می گردد و 35% از هزینه پرداختی کسر و الباقی آن ظرف کمتر از 24 ساعت کاری در اعتبار حساب کاربری منظور خواهد گردید و کاربر می تواند با مراجعه به حساب کاربری خود از مبلغ موجودی جهت دریافت خدمات دیگر در زمان آتی استفاده نمایید. </li>
                <li class="px-3 py-3">

                    در صورت رزرو مشاوره آنلاین با وکلای برتر و شتابدهی شده به دلیل کثرت مراجعات و گاها پر بودن وقت این متخصصین نسبت به سایر متخصصین حاضر در سامانه، حداقل مدت زمان انتظار کاربر عادی/موکل، جهت حضور متخصص به محیط گفتگوی چت(پیام رسان)، که موجب پذیرش درخواست لغو از سوی کاربر عادی/موکل و استرداد  کامل وجه به ایشان خواهد گردید، حداقل 4 ساعت پس از رزرو ( بجز ساعت 00:00 الی 08:00)می باشد. به عبارت دیگر در صورت درخواست کاربر مبنی بر کنسل نمودن مشاوره آنلاین زودتر از 4 ساعت از موارد کنسلی از سوی کاربرعادی/موکل تلقی می گردد و 35% از هزینه پرداختی کسر و الباقی آن ظرف کمتر از 24 ساعت کاری در اعتبار حساب کاربری منظور خواهد گردید و کاربر می تواند با مراجعه به حساب کاربری خود از مبلغ موجودی جهت دریافت خدمات دیگر در زمان آتی استفاده نمایید. شایان ذکر است سامانه آقای وکیل تمام تلاش خود را جهت نظارت و پیگیری و اطلاع رسانی به متخصص جهت مراجعه هرچه سریعتر به محیط گفتگوی مشاوره رزرو شده و ارائه مشاوره به کاربرعادی/موکل را بکار می بندد تا مدت زمان انتظار به حداقل خود برسد و بطور متوسط کاربران عادی در کمتر از 60 دقیقه پس از ثبت مشاوره با وکلای آنلاین، مشاوره خود را دریافت می نمایند.
                </li>
                <li class="px-3 py-3">

                    در خصوص رزرو مشاوره تلفنی، پس از رزرو مشاوره تلفنی، همان گونه که در هنگام رزرو اطلاع رسانی میگردد، متخصص تا 3 ساعت نسبت به تعیین زمان مشاوره تلفنی فرصت خواهد داشت، در صورت عدم تعیین زمان از سوی متخصص پس از گذشت 3 ساعت، سامانه موظف به ارجاع مشاوره به متخصصین با تخصص مرتبط و یا در اختیار گذاشتن شماره تلفن متخصص مربوطه می باشد و عدم تعیین زمان موجب پذیرش درخواست کنسلی کاربر عادی/موکل و استرداد وجه نخواهد گردید، در صورتی که پس از تعیین زمان، کاربر عادی/موکل نسبت به زمان مقرر تعجیل داشته باشد می تواند نسبت به اطلاع رسانی تعجیل خود از طریق تماس با تلفن پشتیبانی در ساعات 9 صبح الی 17:30 عصر و خارج این ساعت با ارسال درخواست پشتیبانی از پنل کاربری خود، مراتب را اطلاع رسانی نموده تا مشاوره به وکیل دیگر با تعیین زمان زودتر ارجاع یابد. بدیهی می باشد درخواست کنسل نمودن مشاوره به دلیل تعجیل کاربر عادی/موکل از موارد کنسلی از سوی کاربرعادی/موکل تلقی می گردد و 35% از هزینه پرداختی کسر و الباقی آن ظرف کمتر از 24 ساعت کاری در حساب کاربری منظور خواهد گردید و کاربر می تواند با مراجعه به حساب کاربری خود از مبلغ موجودی جهت دریافت خدمات دیگر در زمان آتی استفاده نمایید.
                </li>
                <li class="px-3 py-3">

                    حالت سوم- در صورت اعلام متخصص مبنی بر عدم تخصص کافی در موضوع مشاوره، سامانه موظف به ارجاع مشاوره به سایر وکلای مزتبط و باتجربه در موضوع مورد مشاوره می باشد و این امر موجب کنسل شدن و استرداد وجه نخواهد گردید. و در صورت عدم تمایل کاربر عادی/موکل به این امر، از موارد کنسلی از سوی کاربرعادی/موکل تلقی می گردد و 35% از هزینه پرداختی کسر و الباقی آن ظرف کمتر از 24 ساعت کاری در اعتبار حساب کاربری منظور خواهد گردید و کاربر می تواند با مراجعه به حساب کاربری خود از مبلغ موجودی جهت دریافت خدمات دیگر در زمان آتی استفاده نمایید.
                </li>
                <li class="px-3 py-3">

                    بطور کلی درخواست های عودت وجه، که از طریق بخش پشتیبانی ثبت گردیده است، پس از بررسی در صورت حائز شرایط بودن به بخش مالی ارجاع داده شده و کمتر از 24 ساعت کاری پس از مجوز تایید پشتیانی، به اعتبار و موجودی حساب کاربری کاربر عادی باز خواهد گشت.
                </li>
            </ol>
        </li>
        <li class="px-3 py-3">
            اعتبار کیف پول یا همان موجودی حساب کاربری برای استفاده از خدمات تا هر زمان قابل استفاده است و دریافت این وجه به صورت نقد امکان پذیر نمی باشد.
            <ol class="px-10 py-5 list-disc">
                <li class="px-3 py-3">استرداد وجه در شرایط حالت اول، فقط به شماره حساب بانکی که کاربر عادی از آن پرداخت را انجام داده است به صورت حواله پایایی به شماره شبا انجام خواهد گردید و کارمزد انتقال پایایی نیز از کاربر موکل کسر خواهد گردید. </li>
                <li class="px-3 py-3">
                    مدت زمان استرداد وجه بین ظرف 24 الی 48 ساعت کاری پس از ثبت درخواست تسویه کاربر عادی از پنل کاربری می باشد
                </li>
                <li class="px-3 py-3">
                    وجه در سیکل تسویه پایایی بانکها به حساب بانکی کاربر عادی واریز می گردد
                </li>
                <li class="px-3 py-3">
                    با توجه به نحوه پرداخت پایایی، استرداد وجه در روزهای تعطیل امکان پذیر نمی باشد و در ساعات کاری بانکها صورت می پذیرد
                </li>
            </ol>
        </li>
        <li class="px-3 py-3">
            تبصره- پس از گذشت 4 روز از رزرو یک سفارش از سوی کاربری عادی/موکل، در صورتی که با وجود تعیین زمان بندی از سمت کاربر متخصص، کاربر عادی/موکل با متخصص تماس حاصل نفرماید و جهت پیگیری با پشتیبانی ارتباط برقرار ننموده( تماس- تیکت) و یا نسبت به تماس کارشناسان پشتیبانی بابت پیگیری سفارش پاسخگویی نفرماید، سفارش با کسر کارمزد کنسلی، لغو می گردد و با ارسال پیامک کنسل شدن سفارش به اطلاع کاربر عادی/موکل می رسد، بدیهی است کاربر عادی می تواند هر زمان به حساب کاربری خود مراجعه نموده و نسبت به استفاده مبلغ موجودی به وسیله رزرو خدمت دیگر با مبلغ موجودی اقدام نماید.
        </li>
        <li class="px-3 py-3 list-disc">
            مالیات، هزینه، و بها

            <ol class="px-10 py-5">
                <li class="px-3 py-3 list-disc">
                    مسئولیت پرداخت تمامی هزینه‌ها و مالیات مرتبط به استفاده کاربر متخصص از وب‌سایت آقای وکیل در هرجایی که مالیاتی بر آن بسته‌شده باشد (ازجمله مالیات بر حقوق و مالیات بر ارزش‌افزوده، اگر نافذ و دارای موضوعیت باشد)، با شخص کاربر متخصص می باشد.
                </li>
                </ol>
        </li>
    </ul>
</section>
<br />
<section class="bg-white rounded-xl shadow-md max-w-7xl mx-auto py-10">
    <p class="mt-5 text-3xl text-center">
        قوانین و مقررات مربوط به ضبط مکالمات در مرکز تماس
    </p>
    <ol class="px-10 py-5">
        <li class="px-3 py-3">به اطلاع تمامی کاربران گرامی (وکلا و موکلین) می‌رساند که به منظور ارتقای کیفیت خدمات، نظارت بر روند مشاوره‌ها، و بهبود تجربه کاربران، تمامی تماس‌های تلفنی از طریق مرکز تماس این پلتفرم ضبط و ذخیره‌سازی می‌شوند. این اقدام در چارچوب قوانین جاری کشور انجام شده و اطلاعات ضبط‌شده تنها برای اهداف ذکرشده مورد استفاده قرار خواهند گرفت.</li>
        <li class="px-3 py-3">

            رضایت کاربران:
            با برقراری تماس از طریق مرکز تماس این پلتفرم، تمامی کاربران (وکلا و موکلین) صراحتاً موافقت خود را با ضبط و ذخیره‌سازی مکالمات اعلام می‌نمایند. بدیهی است که اطلاعات ضبط‌شده صرفاً برای اهداف نظارتی، آموزشی، و بهبود کیفیت خدمات استفاده شده و محرمانگی اطلاعات مطابق قوانین حفاظت از داده‌ها تضمین می‌شود.
        </li>
        <li class="px-3 py-3">

            در صورت عدم موافقت با ضبط مکالمات، لطفاً از طریق سایر روش‌های ارتباطی که امکان ضبط ندارند، اقدام فرمایید. استفاده از خدمات این مرکز تماس به معنای پذیرش تمامی شرایط و مقررات فوق است.
        </li>
    </ol>
    </section>
    <br />
<section class="bg-white rounded-xl shadow-md max-w-7xl mx-auto py-10">
    <p class="mt-5 text-3xl text-center">
        تعهدات کاربران عادی و متخصص در موارد فنی
    </p>
    <ul class="px-10 py-5">
        <li class="px-3 py-3">در استفاده از وبسایت آقای وکیل انجام اعمال و تخلفات ذیل ممنوع می باشد:</li>
        <li class="px-3 py-3">

            ارتباط خود با دیگران را به شکل نادرستی نشان دهند
        </li>
        <li class="px-3 py-3">

            از طریق آقای وکیل به سیستم‌های کامپیوتری یا مطالبی دسترسی غیرمجاز پیدا کنند
        </li>
        <li class="px-3 py-3">

            مهندسی معکوس انجام دهند
        </li>
        <li class="px-3 py-3">

            از طریق آقای وکیل یا در وب‌سایت آقای وکیل دست به جمع‌آوری خودکار اطلاعات بزنند
        </li>
        <li class="px-3 py-3">

            روش‌هایی مثل اسپایدرینگ (spidering)، خواندن صفحه‌نمایش (screen scraping)، دیتابیس اسکریپینگ (database scraping)، یا جمع‌آوری آدرس ایمیل‌ها، نصب افزونه Auto Refresh Page و روش‌های دیگر را بکار بزنند.
        </li>
        <li class="px-3 py-3">

            تلاش برای ایجاد وقفه یا تغییر در عملکرد آقای وکیل به هر شکلی (مثلاً از طریق ارسال انبوه پیام‌های ناخواسته یا (flooding) ایجاد بار روی سرورها،
        </li>
        <li class="px-3 py-3">

            وارد کردن ویروس، بمب زمانی (time bomb)، اسب تروآ (Trojan horse)، کرم، کنسل بات (cancelbot) یا دیگر روش‌های مخرب کامپیوتری و هک کردن
        </li>
        <li class="px-3 py-3">

            استفاده از پلتفرم آقای وکیل یا هر بخشی از محتوای آن به شکلی که نقض قوانین جاری باشد
        </li>
        <li class="px-3 py-3">

            حقوق مالکیت معنوی یا حقوق دیگری را از آقای وکیل یا دیگران نقض کند
        </li>
        <li class="px-3 py-3">
            هرگونه رفتار فریب‌کارانه، وقیحانه، گستاخانه، گمراه‌کننده، یا توهین‌آمیز باشد
        </li>
        <li class="px-3 py-3">
            استفاده از اسکریپت برای دانلود انبوه محتوا؛ تبلیغ، برندینگ، یا محتوای پروموشن (ترویجی) در وب‌سایت یا محتوای آن وارد کنند
        </li>
        <li class="px-3 py-3">
            به‌غیراز مواردی که در این توافقنامه به کاربران اجازه داده‌شده، دست به کپی، باز توزیع، انتقال، یا تغییر یا سوءاستفاده از محتوا، داده‌ها، یا کد وب‌سایت بزنند.
        </li>
        <li class="px-3 py-3">
            مسئولیت‌ها و رفع مسئولیت‌های وبسایت آقای وکیل
        </li>
    </ul>
    </section>
    <br />
<section class="bg-white rounded-xl shadow-md max-w-7xl mx-auto py-10">
    <p class="mt-5 text-3xl text-center">
        وبسایت آقای وکیل در موارد زیر سلب مسئولیت می نماید:
    </p>
    <ul class="px-10 py-5 list-decimal">
        <li class="px-3 py-3">مسئولیت محتوای منتشرشده در وبسایت آقای وکیل به عهده شخص ناشر بوده و آقای وکیل صرفاً بستر ایجادشده جهت مدیریت و نگهداری است.</li>
        <li class="px-3 py-3">
            ضرر و زیان ناشی از ارائه اطلاعات خلاف واقع یا ناقص توسط کاربر عادی به وبسایت آقای وکیل یا کاربر متخصص باشد.
        </li>
        <li class="px-3 py-3">
            ضرر و زیان که ناشی از ارائه هرگونه اطلاعات ناقص یا نادرست و یا اقدامات زیان‌بار کاربر متخصص صورت بپذیرد.
        </li>
        <li class="px-3 py-3">
            ضرر و زیانی که ناشی از انتشار اطلاعات سری و محرمانه خود یا دیگران توسط کاربر عادی به وبسایت آقای وکیل یا کاربر متخصص باشد.
        </li>
        <li class="px-3 py-3">
            ضرر و زیانی که ناشی از انجام خارج از سامانه‌ مکاتبات، پرداخت‌ها و هرگونه تعامل و برقراری ارتباط کاربر عادی یا کاربر متخصص با یکدیگر، سایر اعضای وبسایت آقای وکیل و واحدهای پشتیبانی باشد.
        </li>
        <li class="px-3 py-3">
            ضرر و زیانی که ناشی از هک یا نفوذ غیرمجاز به وبسایت آقای وکیل باشد.
        </li>
        <li class="px-3 py-3">
            ضرر و زیانی که ناشی از عدم برنامه‌ریزی صحیح کاربر متخصص برای وصول دستمزد خود از کاربر عادی باشد.
        </li>
        <li class="px-3 py-3">
            سلب مسئولیت در ضرر و زیان ناشی از نتیجه هر راهکار حقوقی ارائه شده توسط متخصصین به کاربران عادی
        </li>
        <li class="px-3 py-3">
            سلب مسئولیت در خصوص دریافت خدمات یا ارائه خدمات بین کاربر عادی و کاربر متخصص خارج از سامانه آقای وکیل و به طور مستقیم
        </li>
        <li class="px-3 py-3">
            سلب مسئولیت در خصوص اعطای وکالت توسط کاربر عادی به کاربر متخصص خارج از سیستم و اطلاع رسانی و آگاهی آقای وکیل
        </li>
        <li class="px-3 py-3">
            در هر شرایط، آقای وکیل به صلاحدید خود هرگونه خدمات ارائه‌شده را می تواند حذف نماید، برای مثال اگر منسوخ‌شده باشد، یا به دلایل قانونی یا کاری یا اداری مجبور به انجام این کار شود. چنانچه وبسایت آقای وکیل قصد داشته باشد خدمات ارائه‌شده را حذف کند، تلاش معقولی خواهد کرد تا به کاربران از طریق راههای ارتباطی اطلاع دهد، اما این کار بسته به دلیل یا ضرورتِ حذف، همیشه ممکن نخواهد بود، لذا چنانچه در دسترسی به‌حساب کاربری یا دریافت ارائه خدمات کاربر به مشکلی برخورد، می تواند از طریق پشتیبانی اطلاع دهد.
        </li>
        <li class="px-3 py-3">
            آقای وکیل تلاش معقولی می‌کند که محتوا یا دسترسی کاربران به وب‌سایت بدون وقفه و مشکل باشد و باقی بماند، ایرادات رفع شوند، محتوای وب‌سایت عاری از ویروس و دیگر اجزاء مخرب باشد، و وب‌سایت یا محتوای آن از نظر صحت، دقت، به هنگام بودن، کامل بودن، قابل‌اعتماد بودن، و موارد مشابه برای کاربران قابل تکیه و قابل‌اعتماد باشد، ولی هیچ‌کدام از این موارد را بطور قطعی تضمین نخواهد کرد.
        </li>
    </ul>
    <p class="py-5 px-6 text-gray-900">
        وبسایت آقای وکیل تمامی تلاش خود را برای دسترسی کاربران اعم از، کاربر عادی و کاربر متخصص به صورت شبانه‌روزی در تمامی ۷ روز هفته دارد، و سعی می‌کند هرگونه زمان ازکارافتادگی را به حداقل برساند.
    </p>
    <p class="py-5 px-6 text-gray-900">
        ممکن است با اطلاع رسانی قبلی به دلیل تعمیر و نگهداری وب‌سایت، یا دلایل و مشکلات فنی دیگر لازم باشد دسترسی کاربران به وب‌سایت یا ارائه خدمات و محتوای وب‌سایت را موقتاً متوقف یا معلق کند، ولی آقای وکیل سعی می‌کند زمانش را بسیار کوتاه کند.
    </p>
    </section>
    <br />
<section class="bg-white rounded-xl shadow-md max-w-7xl mx-auto py-10">
    <p class="mt-5 text-3xl text-center">
        مسئولیت های وبسایت آقای وکیل
    </p>
    <p class="py-5 px-6 text-gray-900">
        آقای وکیل به‌عنوان یک پلتفرم ارائه‌دهنده خدمات مدیریت و تسهیل ارتباطات حقوقی، صرفاً نقش واسطه‌ای میان کاربران و وکلای معرفی‌شده ایفا می‌کند و هیچ‌گونه تعهد، مسئولیت یا دخالتی نسبت به محتوای خدمات ارائه‌شده توسط وکیل یا نحوه انجام امور حقوقی و مراحل رسیدگی به پرونده‌های حقوقی و کیفری ندارد. این پلتفرم تنها در زمینه ارائه خدمات مشاوره تلفنی و آنلاین (چت برخط) کنترل و نظارت لازم را اعمال می‌نماید و مسئولیت اقدامات یا تصمیمات وکیل در فرآیند رسیدگی به پرونده‌ها به‌طور کامل بر عهده وکیل مربوطه است.
    </p>
    <p class="py-5 px-6 text-gray-900">
        وبسایت آقای وکیل تنها ملتزم به تعهداتی است که در این توافقنامه با آن اشاره شده است. در قبال برداشت‌های ضمنی از توافقنامه هیچ تعهد و مسئولیتی بر عهده پلتفرم آقای وکیل نیست؛
    </p>
    <ul class="px-10 py-5 list-decimal">
        <li class="px-3 py-3">کلیه اطلاعات و داده‌های ارسالی کاربران متخصص و کاربران عادی را، به جز آنچه جهت ارسال رزومه و گزارش فعالیت در دسترس عموم قرار می‌دهد، وفق خط مشی رعایت حریم خصوصی (که از طریق بخش حفظ و محرمانگی اطلاعات قابل دسترس است) حفظ و صیانت نماید.</li>
        <li class="px-3 py-3">
            از حداکثر توان، تخصص و تجربه خود در راستای ارائه‌ی خدمات با سطح کیفیتی مطلوب جهت جلب رضایت کاربر متخصص بهره ببرد.
        </li>
        <li class="px-3 py-3">
            هرگونه تغییر در مفاد این توافق‌نامه را سریعاً و صراحتاً در دسترس کاربر متخصص و کاربر عادی برساند.
        </li>
        <li class="px-3 py-3">
            اطلاعات مربوط به ارائه‌ی هر خدمت حقوقی توسط کاربر متخصص را تا پایان دریافت خدمت و حل و فصل اختلافات احتمالیِ مربوط به آن، حفظ و نگهداری نماید.
        </li>
        <li class="px-3 py-3">
            اطلاعات مربوط به دریافت هر خدمت حقوقی توسط کاربر عادی را تا پایان دریافت خدمت و حل‌وفصل اختلافات احتمالی مربوط به آن حفظ و نگهداری کند.
        </li>
        <li class="px-3 py-3">
            مبالغی که کاربر عادی جهت پرداخت به کاربر متخصص برای انواع مشاوره به حساب پلتفرم آقای وکیل واریز کرده و وفق توافق‌نامه و مقررات وبسایت آقای وکیل، خاتمه کار محقق شده و یا نظر قطعی مرجع حل اختلاف مبنی بر آزادسازی وجه آن صادر شده است را، ظرف ۱ الی ۲۴ ساعت کاری از زمان ثبت درخواست تسویه کاربر متخصص، به حساب بانکی کاربر متخصص واریز نماید.
        </li>
        <li class="px-3 py-3">
            در خصوص خدمت وکالت، پس از توافق بین وکیل و موکل هزینه حق الوکاله توسط موکل در سامانه پرداخت گردیده و پس از درخواست وکیل، آقای وکیل می‌تواند مبلغ را با وکیل تسویه کند.پس از آن آقای وکیل هیچ دخل و تصرفی در فرایند و توافق موکل با وکیل ندارد.
        </li>
        <li class="px-3 py-3">
            آقای وکیل با تمام امکانات خود از جمله واحدهای پشتیبانی و رسیدگی به شکایات و فرآیند میانجیگری تمامی تلاش خود را جهت رضایت کاربران، رفع اختلافات ایجاد شده در زمان ارایه خدمات و ایجاد صلح و سازش فی مابین کاربرعادی و کاربر متخصص را معمول خواهد داشت. در صورت بروز هرگونه اختلاف بین «کاربر عادی» و «کاربر متخصص»، نخست از طریق قسمت پشتیبانی، به رایگان طرفین را به حل مشکل ترغیب نموده و در صورت عدم حصول نتیجه، با دریافت حق‌الزحمه داوری، از طریق «مرجع حل اختلاف آقای وکیل»، به حل و فصل اختلافات بین طرفین بپردازد.
        </li>
    </ul>
</section>
<br />
<section class="bg-white rounded-xl shadow-md max-w-7xl mx-auto py-10">
    <p class="mt-5 text-3xl text-center">
        حفظ و محرمانگی اطلاعات و سیاست حریم خصوصی
    </p>
    <ul class="px-10 py-5 list-decimal">
        <li class="px-3 py-3">جمع‌آوری اطلاعات و استفاده از هرگونه اطلاعات شخصی درباره کاربران، تحت «سیاست حریم خصوصی» آقای وکیل قرار دارد. پلتفرم آقای وکیل تنها می‌تواند اطلاعات شخصی که در رابطه با استفاده‌ کاربران از وب‌سایت برای پلتفرم آشکار می‌کنند را برای مقاصد معینی استفاده کند که در سیاست حریم خصوصی پلتفرم آقای وکیل توضیح داده ‌شده است. پذیرش این سیاست، بخشی از توافقنامه شرایط و قوانین استفاده از پلتفرم آقای وکیل است.</li>
        <li class="px-3 py-3">
            دلیل جمع آوری اطلاعات کاربران و نحوه استفاده از اطلاعات
            پلتفرم آقای وکیل از اطلاعات کاربران برای ارائه سرویس باکیفیت بهتر استفاده می‌کند، همچنین از اطلاعات کاربران برای اطمینان از کارکرد سرویس‌ها براساس اهداف در نظر گرفته استفاده می‌شود.
            اطلاعات کاربر جمع آوری می شود تا با استفاده از آن ها بتواند خدمات بهتر و مطلوب تری را در اختیار شما قرار دهد.این اطلاعات گاه به نحو مستقیم و البته محدود، در جهت معرفی شما به سایر کاربران در دسترس عموم قرار گرفته و گاه نیز، با استفاده از فرآیندهای مختلف مورد بررسی و آنالیز قرار گرفته و جهت شناسایی بهتر خواست و نیازمندی های کاربران، به خدمت گرفته می شود.
        </li>
        <li class="px-3 py-3">
            اطلاعاتی که به نمایش عمومی گذاشته می شوند
            آقای وکیل در راستای تسهیل ارتباط کاربران سامانه با هم و نیز امکان ایجاد بستری مطمئن برای فعالیت کاربران متخصص و کاربران عادی و نیز در جهت امتیازبندی کاربران متخصص شاخص و معرفی آن ها به سایرین، برخی از اطلاعات شما را که با استفاده از فرم ها یا فایل های آپلودی شما تحصیل کرده است، در معرض نمایش عموم قرار خواهد داد.
            <br />
            باستثای بند فوق، پلتفرم آقای وکیل اطلاعات شخصی شما را با شرکت ها، سازمان ها و بطور کل اشخاص ثالث به اشتراک نخواهد گذاشت، مگر در شرایط زیر:
            <ol class="px-10 py-5 list-decimal">
                <li class="px-3 py-3">اگر شما رضایت بدهید: در صورتی که از شما کسب اجازه کرده باشیم، ممکن است برخی از اطلاعات شخصی شما را به شرکت ها، سازمان ها و یا اشخاص ثالث ارائه نماییم.</li>
                <li class="px-3 py-3">
                    دستور مراجع قضایی: در صورتی که مقامات قضایی دستوری مبنی بر دریافت ارائه ی اطلاعات شما در اختیار داشته باشند، ما مجبور خواهیم بود تا اطلاعات شما را در اختیار آن ها بگذاریم.
                </li>
                <li class="px-3 py-3">
                    همکاران و شرکای ما: ممکن است برای بهبود کیفیت خدمات خود و شناسایی خواسته ها و نیازهای شما، برخی اطلاعات و داد های شما را برای بررسی و تحلیل در اختیار همکاران و شرکایمان قرار دهیم. به شما این اطمینان را می دهیم که استفاده ی همکاران و شرکای ما از داده های شما منطبق با موازین این سیاست نامه خواهد بود.
                    در صورت ادغام وبسایت آقای وکیل با سامانه های دیگر و یا فروش آن به سایرین، محرمانگی اطلاعات شما کماکان محفوظ خواهد بود.
                    اطلاعاتی که هنگام استفاده از سرویس های آقای وکیل جمع آوری می شود
                </li>
                <li class="px-3 py-3">
                    اطلاعاتی که کاربر با پر کردن فرم ها و آپلود کردن فایل ها در اختیار ما قرار می دهید: به عنوان مثال، زمانی که کاربر عادی/موکل به ثبت درخواست یا مشکل خود در سامانه آقای وکیل می پردازد و یا زمانی که یک کاربر متخصص جهت عضویت در سامانه به ارائه ی اطلاعات خود به ما می پردازد، ما این اطلاعات را برای ساخت حساب کاربری یا پیگیری مشکل شما ذخیره و نگهداری می کنیم.
                    همچنین کاربران بدون ایجاد حساب می‌توانند از بسیاری از سرویس‌های آقای وکیل (مانند: وبلاگ، جستجو میان پرسش و پاسخ ها و سرویس محاسبات حقوقی) استفاده نمایند.
                </li>
                <li class="px-3 py-3">
                    اطلاعات دستگاه: ما اطلاعات مرتبط با دستگاهی که با ان به استفاده از خدمات ما می پردازید را ذخیره و نگهداری می کنیم. از جمله این اطلاعات می توان به مدل سخت‌افزار، نسخه سیستم عامل، شناسه‌های خاص دستگاه و اطلاعاتی در باره شبکه تلفن همراه از جمله شماره تلفن شما اشاره نمود.
                </li>
            </ol>
        </li>
        <li class="px-3 py-3">
            اطلاعات ناشی از تحصیل گزارش: زمانی که شما محتوای سایت یا برنامه های ما را مشاهده می کنید، بطور خودکار برخی اطلاعات خاص جمع آوری شده و در سرورهای ما نگهداری می شود. از آن جمله است:
            <ol class="px-10 py-5 list-decimal">
                <li class="px-3 py-3">جزئیات مربوط به نحوه استفاده شما از سرویس‌های ما، از قبیل عبارت‌های جستجوی شما در سایت یا داده های مربوط به خدمات حقوقی ارائه یا دریافت شده.</li>
                <li class="px-3 py-3">
                    اطلاعات مربوط به گزارش ارتباط تلفنی مانند شماره تلفن شما، شماره تلفن فرد تماس‌گیرنده، شماره‌هایی که تماس به آنها انتقال یافته، ساعت و تاریخ تماس‌ها، مدت زمان تماس‌ها، اطلاعات مسیریابی پیامک و انواع تماس‌ها.
                </li>
                <li class="px-3 py-3">
                    آدرس پروتکل اینترنتی.
                </li>
                <li class="px-3 py-3">
                    اطلاعات فعالیت‌های دستگاه مانند خرابی‌های ایجاد شده، فعالیت سیستم، تنظیمات سخت‌افزاری، نوع مرورگر، زبان مرورگر، تاریخ و ساعت درخواست شما و URL ارجاعی.
                </li>
                <li class="px-3 py-3">
                    کوکی‌هایی که ممکن است بطور خاص مرورگر شما را مشخص نمایند.
                </li>
                <li class="px-3 py-3">
                    ذخیره‌سازی اطلاعات در دستگاه شما: ممکن است ما با استفاده از روش‌هایی مانند ذخیره‌سازی در مرورگر وب (از جمله HTML 5) و نیز حافظه‌های پنهان داده برنامه، برخی اطلاعات شخصی شما را جمع آوری نموده و در بخشی از حافظه ی دستگاه شما ذخیره کنیم.
                </li>
            </ol>
        </li>
        <li class="px-3 py-3">
            امنیت اطلاعات کاربران
            <ol class="px-10 py-5">
                <li class="px-3 py-3">
                    آقای وکیل تمام تلاش خود را به کار می گیرد تا اطلاعات ارسالی شما را در فضایی مطمئن و به دور از دسترسی های غیر ضروری، تا حد امکان از دسترسی غیر مجاز، تغییرات بدون مجوز و یا افشای سراسری حفظ نماید.
                </li>
                <li class="py-3">
                    در همین راستا:
                    <ol>
                        <li class="py-3">سایت آقای وکیل تلاش می کند تا حتی الامکان با بهره مندی از SSl، داده ها را به نحو رمزنگاری شده تبادل نماید.</li>
                        <li class="py-3">
                            با اخذ نسخه های پشتیبانی منظم، از حذف یا مفقود شدن داده های ذخیره شده روی سرور های در اختیار خود جلوگیری کند.
                        </li>
                        <li class="py-3">
                            دسترسی مدیران و کارمندان خود را به اطلاعات کاربران، طبقه بندی و محدود نماید.
                        </li>
                        <li class="py-3">
                            برخی از اطلاعات حیاتی شما از جمله گذرواژه ها را به نحو رمزنگاری شده ذخیره نماید.
                        </li>
                        <li class="py-3">
                            با استفاده از قراردادهای حفظ محرمانگی یاnon–disclosure agreement (NDA)، از اطلاعات و داده های ارسالی شما که ممکن است جهت امر پردازش اطلاعات، در اختیار شرکا، کارمندان یا همکارانمان قرار گیرد، محافظت و صیانت کند.
                        </li>
                    </ol>
                </li>
            </ol>
        </li>
        <li class="px-3 py-3">
            تغییرات خط مشی:
            <ol>
                <li class="px-3 py-3">
                ممکن است تغییرات خط مشی در فواصل زمانی مختلف و در برهه های زمانی گوناگون دستخوش تغییر و بروزرسانی شود. ما تلاش می کنیم تا این تغییرات به حقوق شما لطمه ای وارد نکند. تغییرات مزبور همواره از طریق همین صفحه قابل رویت خواهد بود. خواهشمند است در ادوار زمانی مختلف نسبت به مراجعه به این صفحه اقدام فرمایید.
                </li>
            </ol>
        </li>
    </ul>
    <p class="text-center font-bold">پایان !</p>
</section>