@using Application.Feature.ForgetPassword.Command

@{
    ViewData["Title"] = "ForgotPassword";
}

@model ForgotPassWordCommand
       
<form method="post">
    <label>شماره موبایل</label>
    <input asp-for="PhoneNumber" class="form-control" />
    <button class="btn btn-primary mt-2">ارسال کد</button>
</form>
