
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
}

<h2>Password reset</h2>
<p>Your password has been reset successfully. You can now <a asp-controller="Account" asp-action="Login">log in</a>.</p>

