
@{
    ViewData["Title"] = "درباره ما";
}

<body class="bg-gray-50 text-gray-800">

    <!-- Hero Section -->
    <section class="text-black py-10">
        <div class="max-w-4xl mx-auto text-center">
            <h2 class="text-4xl font-bold mb-4">⚖ درباره ما ⚖</h2>
            <h1 class="text-lg leading-relaxed">
ما با درک و تجربه چندین ساله خود نیازهای وکلا و متخصصان را به خوبی می‌دانیم. پلتفرمی ایجاد کردیم تا متخصصین بتوانند تمامی نیازها و فرایند‌ها قضائی توسط این سیستم مدیریت کنند.
تبلیغات برای وکلا ممنوع است پس باید بر اساس گزارش عملکرد خود موکلین جدید را از خدمات و دانش خود بهره‌مند سازمند.
سایت آقای وکیل با در نظر گرفتن شان وکالت و وکیل و بر پایه مدیریت دانش حقوقی بصورت جامع خدمات حقوقی را به نیازمندان خدمات مربوطه قابل ارائه کرده است.
یک متخصص پرسش حقوقی پاسخ می‌دهد - مقاله حقوقی منتشر می‌کند - رزومه کاری خود را در پروفایلش کامل می‌کند - مسائل و مشکلات حقوقی را بصورت ویدئو و پادکست برای مردم شفاف می‌کند و بابت همه خدماتی که در قالب مشاوره تلفنی و حضوری و دیگر خدمات انجام می‌دهد امتیاز می‌گیرد و خود را متامیز می‌سازد.            </h1>
        </div>
    </section>

    <section class="py-16">
        <div class="max-w-5xl mx-auto px-6 grid md:grid-cols-2 gap-10 items-center">
            <div>
                <h3 class="text-3xl font-bold text-blue mb-4">ماموریت ما</h3>
                <p class="text-gray-700 leading-relaxed mx-auto px-6 grid">
                    در همه جای دنیا شکایت و ناراحتی از دستگاه قضا وجود داشته و ایران هم مستثنی نیست.
                    ما معتقدیم بر اساس تحلیل مشکلات و مسائل مردم می‌توان فرایندها و قوانین دست و پا گیر را بر مبنای حقوق مردم بهینه سازی و ساده‌تر کرد.
                    از طرفی با یکپارچه سازی قیمت خدمات حقوقی در کشور و استفاده حداکثری از جامعه حقوقی برای کمک رسانی به مردم می‌تواند تا مرحله قبل از ورود یک پرونده به دستگاه قضائی را کنترل شده و قابل مدیریت انجام داد.
                    نقض مدارک - شروع پروسه پرونده‌ها با نتیجه از قبل مشخص - دریافت مشاوره‌های اشتباه مردم از افراد متخصص اما صودجو و دیگر موارد باعث می‌شود که با هدفمندسازی فعالیت‌های جامعه حقوقی از وروی پرونده‌ها به قوه قضائیه جلوگیری کرده و رضایت قابل توجهی از مردم در این مسیر پر پیچ و خم حاصل شود.
                </p>
            </div>
            <img src="\images\AboutUs\AboutUs-teamwork.png" alt="Teamwork"
                 class="rounded-lg px-10">
        </div>
    </section>

    <section class="py-15 text-left" dir="ltr">
        <div class="max-w-5xl mx-auto px-6 grid md:grid-cols-2 gap-10 text-right items-center">
            <div>
                <h3 class="text-3xl font-bold text-blue mb-4">هدف ما</h3>
                <p class="text-gray-700 leading-relaxed mx-auto px-6 grid">
                    آمار مشکلات حقوقی و قضائی مردم در کشور ایران قابل ملاحظه است.
                    باید قدمی متفاوت برداشت. چرا که درخواست‌های مردم ساختار یافته و مشخص است. مرحله شروع و پایان همه چیز بعد از سال‌ها تحقیق و بررسی و تجربه کاری شفاف شده است.
                    مسیرهای کاری حقوقی و قضائی را باید با در نظر گرفتن توانمندی‌های جامعه حقوقی و با ارتباط موثر با دستگاه قضا به نفع مردم به نتیجه رساند.
                    نتیجه این امر اینگونه خواهد بود که مردم بدانند از کجا شروع کنند. چطور شروع کنند. نتیجه حاصل از این روند تا مقدار قابل توجهی قابل پیش‌بینی باشد و زمان و هزینه‌های خود را مدیریت کنند.
                </p>
            </div>
            <img src="\images\AboutUs\AboutUs-goal.png" alt="Goal"
            class="rounded-lg px-10">
        </div>
    </section>

    <div class="px-6 py-10">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-10 px-10">

            <div>
                <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8.032 12 1.984 1.984 4.96-4.96m4.55 5.272.893-.893a1.984 1.984 0 0 0 0-2.806l-.893-.893a1.984 1.984 0 0 1-.581-1.403V7.04a1.984 1.984 0 0 0-1.984-1.984h-1.262a1.983 1.983 0 0 1-1.403-.581l-.893-.893a1.984 1.984 0 0 0-2.806 0l-.893.893a1.984 1.984 0 0 1-1.403.581H7.04A1.984 1.984 0 0 0 5.055 7.04v1.262c0 .527-.209 1.031-.581 1.403l-.893.893a1.984 1.984 0 0 0 0 2.806l.893.893c.372.372.581.876.581 1.403v1.262a1.984 1.984 0 0 0 1.984 1.984h1.262c.527 0 1.031.209 1.403.581l.893.893a1.984 1.984 0 0 0 2.806 0l.893-.893a1.985 1.985 0 0 1 1.403-.581h1.262a1.984 1.984 0 0 0 1.984-1.984V15.7c0-.527.209-1.031.581-1.403Z" />
                </svg>
                <h4 class="mt-2 mx-2 text-xl font-bold text-gray-900">معرفی وکلا و ایجاد پروفایل</h4>
                <p class="mt-2 text-gray-700 leading-relaxed">
                    با داشتن ده‌‌ها هزار بازدید کننده ثابت در روز آقای وکیل
                    محل مناسبی برای نمایش سوابق و توانمندی های وکلا است.
                </p>
            </div>

            <div>
                <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M20 14h-2.722L11 20.278a5.511 5.511 0 0 1-.9.722H20a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1ZM9 3H4a1 1 0 0 0-1 1v13.5a3.5 3.5 0 1 0 7 0V4a1 1 0 0 0-1-1ZM6.5 18.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM19.132 7.9 15.6 4.368a1 1 0 0 0-1.414 0L12 6.55v9.9l7.132-7.132a1 1 0 0 0 0-1.418Z" />
                </svg>
                <h4 class="mt-2 mx-2 text-xl font-bold text-gray-900">خدمات حقوقی</h4>
                <p class="mt-2 text-gray-700 leading-relaxed">
                    رزرو مشاوره و ارائه خدمات اوراق قضائی و قبول وکالت بصورت
                    کاملا ساختار یافته و هدایت شده.
                </p>
            </div>

            <div>
                <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M6.94318 11h-.85227l.96023-2.90909h1.07954L9.09091 11h-.85227l-.63637-2.10795h-.02272L6.94318 11Zm-.15909-1.14773h1.60227v.59093H6.78409v-.59093ZM9.37109 11V8.09091h1.25571c.2159 0 .4048.04261.5667.12784.162.08523.2879.20502.3779.35937.0899.15436.1349.33476.1349.5412 0 .20833-.0464.38873-.1392.54119-.0918.15246-.2211.26989-.3878.35229-.1657.0824-.3593.1236-.5809.1236h-.75003v-.61367h.59093c.0928 0 .1719-.0161.2372-.0483.0663-.03314.1169-.08002.152-.14062.036-.06061.054-.13211.054-.21449 0-.08334-.018-.15436-.054-.21307-.0351-.05966-.0857-.10511-.152-.13636-.0653-.0322-.1444-.0483-.2372-.0483h-.2784V11h-.78981Zm3.41481-2.90909V11h-.7898V8.09091h.7898Z" />
                    <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M8.31818 2c-.55228 0-1 .44772-1 1v.72878c-.06079.0236-.12113.04809-.18098.07346l-.55228-.53789c-.38828-.37817-1.00715-.37817-1.39543 0L3.30923 5.09564c-.19327.18824-.30229.44659-.30229.71638 0 .26979.10902.52813.30229.71637l.52844.51468c-.01982.04526-.03911.0908-.05785.13662H3c-.55228 0-1 .44771-1 1v2.58981c0 .5523.44772 1 1 1h.77982c.01873.0458.03802.0914.05783.1366l-.52847.5147c-.19327.1883-.30228.4466-.30228.7164 0 .2698.10901.5281.30228.7164l1.88026 1.8313c.38828.3781 1.00715.3781 1.39544 0l.55228-.5379c.05987.0253.12021.0498.18102.0734v.7288c0 .5523.44772 1 1 1h2.65912c.5523 0 1-.4477 1-1v-.7288c.1316-.0511.2612-.1064.3883-.1657l.5435.2614v.4339c0 .5523.4477 1 1 1H14v.0625c0 .5523.4477 1 1 1h.0909v.0625c0 .5523.4477 1 1 1h.6844l.4952.4823c1.1648 1.1345 3.0214 1.1345 4.1863 0l.2409-.2347c.1961-.191.3053-.454.3022-.7277-.0031-.2737-.1183-.5342-.3187-.7207l-6.2162-5.7847c.0173-.0398.0342-.0798.0506-.12h.7799c.5522 0 1-.4477 1-1V8.17969c0-.55229-.4478-1-1-1h-.7799c-.0187-.04583-.038-.09139-.0578-.13666l.5284-.51464c.1933-.18824.3023-.44659.3023-.71638 0-.26979-.109-.52813-.3023-.71637l-1.8803-1.8313c-.3883-.37816-1.0071-.37816-1.3954 0l-.5523.53788c-.0598-.02536-.1201-.04985-.1809-.07344V3c0-.55228-.4477-1-1-1H8.31818Z" />
                </svg>
                <h4 class="mt-2 mx-2 text-xl font-bold text-gray-900">اتوماسیون حقوقی</h4>
                <p class="mt-2 text-gray-700 leading-relaxed">
                    از تشکیل پرونده برای موکل تا مدیریت مدارک و تماس‌ها در
                    مرکز تماس اختصاصی بنیاد وکلا.
                </p>
            </div>


            <div>
                <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 6H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1Zm7 11-6-2V9l6-2v10Z" />
                </svg>
                <h4 class="mt-2 mx-2 text-xl font-bold text-gray-900">تولید محتوای هدفمند و اطلاع رسانی</h4>
                <p class="mt-2 text-gray-700 leading-relaxed">
                    دانش خود را بصورت ویدئویی و متنی به دست همه نیازمندان
                    خدمات حقوقی برسانید.
                </p>
            </div>

            <div>
                <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M8 7V6a1 1 0 0 1 1-1h11a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1M3 18v-7a1 1 0 0 1 1-1h11a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1Zm8-3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z" />
                </svg>
                <h4 class="mt-2 mx-2 text-xl font-bold text-gray-900">برنامه‌ریزی درآمد زایی</h4>
                <p class="mt-2 text-gray-700 leading-relaxed">
                    ما برای شما برنامه کاری طراحی می‌کنیم که بتوانید درامد
                    خود را پیش بینی کنید و برای بالا بردن آن تلاش کنید.
                </p>
            </div>

            <div>
                <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M10.83 5a3.001 3.001 0 0 0-5.66 0H4a1 1 0 1 0 0 2h1.17a3.001 3.001 0 0 0 5.66 0H20a1 1 0 1 0 0-2h-9.17ZM4 11h9.17a3.001 3.001 0 0 1 5.66 0H20a1 1 0 1 1 0 2h-1.17a3.001 3.001 0 0 1-5.66 0H4a1 1 0 1 1 0-2Zm1.17 6H4a1 1 0 1 0 0 2h1.17a3.001 3.001 0 0 0 5.66 0H20a1 1 0 1 0 0-2h-9.17a3.001 3.001 0 0 0-5.66 0Z" />
                </svg>
                <h4 class="mt-2 mx-2 text-xl font-bold text-gray-900">کنترل کیفیت و داوری</h4>
                <p class="mt-2 text-gray-700 leading-relaxed">
                    با نظارت و کنترل فرایندهای کاری همواره پشتیبان هزینه و
                    زمان موکلین خواهیم بود.
                </p>
            </div>

            <div>
                <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M18.458 3.11A1 1 0 0 1 19 4v16a1 1 0 0 1-1.581.814L12 16.944V7.056l5.419-3.87a1 1 0 0 1 1.039-.076ZM22 12c0 1.48-.804 2.773-2 3.465v-6.93c1.196.692 2 1.984 2 3.465ZM10 8H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6V8Zm0 9H5v3a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-3Z" clip-rule="evenodd" />
                </svg>
                <h4 class="mt-2 mx-2 text-xl font-bold text-gray-900">هزینه‌های تضمین شده ثابت</h4>
                <p class="mt-2 text-gray-700 leading-relaxed">
                    ما خدمات را بصورت استاندارد با اعلام دقیق هزینه و شرایط
                    دریافت برای موکلین شفاف کرده‌ایم.
                </p>
            </div>
        </div>
    </div>

    <!-- Team -->
    <section class="py-16">
        <div class="max-w-6xl mx-auto px-6 text-center">
            <h3 class="text-2xl font-bold mb-8">تیم ما</h3>
            <div class="grid md:grid-cols-3 gap-8">
                <!-- Team Member -->
                <div class="bg-white-100 rounded-lg p-6">
                    <img src="https://icons.iconarchive.com/icons/icons-land/vista-people/256/Office-Customer-Male-Light-icon.png" alt="Member"
                         class="mx-auto rounded-full mb-4">
                    <h4 class="text-lg font-semibold">پویا حمیدیان</h4>
                    <p class="text-gray-600">مدیر پروژه</p>
                </div>
                <div class="bg-white-100 rounded-lg p-6">
                    <img src="https://icons.iconarchive.com/icons/icons-land/vista-people/256/Office-Customer-Male-Light-icon.png" alt="Member"
                         class="mx-auto rounded-full mb-4">
                    <h4 class="text-lg font-semibold">امیر محمد</h4>
                    <p class="text-gray-600">توسعه‌دهنده ارشد</p>
                </div>
                <div class="bg-white-100 rounded-lg p-6">
                    <img src="https://icons.iconarchive.com/icons/icons-land/vista-people/256/Office-Customer-Male-Light-icon.png" alt="Member"
                         class="mx-auto rounded-full mb-4">
                    <h4 class="text-lg font-semibold">متین</h4>
                    <p class="text-gray-600">طراح رابط کاربری</p>
                </div>
            </div>
        </div>


    </section>

    <section class="py-10">
        <div class="max-w-4xl mx-auto text-center">
            <h2 class="text-gray-600 text-4xl font-bold mb-4">سایت آقای وکیل دقیقا چطور کار می‌کند؟</h2>
            <h1 class="text-lg text-gray-800 leading-relaxed">
                تیم آقای وکیل از سال 1404 مشغول به فعالیت‌های گوناگون در حوزه حقوقی و قضائی شده است. با داشتن روزانه ۱۰۰ هزار کاربر یکتا از طریق شبکه حقوقی (وبسایت‌ها) توانسته‌ایم تعداد قابل توجهی از کاربران نیازمند حوزه حقوقی را جذب کنیم. حال مشکلاتی در این تمام این سال‌ها مردم را به خود درگیر کرده بود که ما برای آن راه حل ایجاد کردیم.
            </h1>
            </div>
    </section>

    <!-- Contact Section -->
    <section class="py-10">
        <div class="max-w-4xl mx-auto px-6 text-center">
            <h3 class="text-2xl font-bold text-blue-600 mb-4">تماس با ما</h3>
            <p class="text-gray-700 mb-6">
                اگر سوالی دارید یا می‌خواهید با ما همکاری کنید، خوشحال می‌شویم با شما در ارتباط باشیم.
            </p>
            <a asp-action="ContactUs"
               class="bg-green-600 text-white px-10 py-3 rounded-lg shadow hover:bg-blue-700 transition sm:block sm:inline-block">
                ارتباط با ما
            </a>
        </div>
    </section>



    <section class="py-16">
        <div class="max-w-6xl mx-auto px-6 text-center text-gray-700">
            <h1>تمامی حقوق مادی و معنوی سایت منعلق به دامنه Aghayevakil و تحت مالکیت امیر محمد محمدی میباشد.</h1>
        </div>


    </section>

    </body>


