@using Application.Common.Pagination
@using Application.Models.LawyerDtos
@model PaginatedList<LawyerDto>
@{
    ViewData["Title"] = "درباره ما";
}

<div>
    <input type="text" id="searchInput"
        
           placeholder="جستجو..." />

    <button onclick="loadLawyers(1)">جستجو</button>
</div>

<div id="lawyerContainer">
    @await Html.PartialAsync("GetList");
</div>
@section Scripts{
    <script>
        function loadLawyers(pageNumber) {

            const search = document.getElementById("searchInput").value;

            fetch(`/Lawyer/GetList?page=${pageNumber}&search=${search}`)
                .then(response => response.text())
                .then(html => {
                    document.getElementById("lawyerContainer").innerHTML = html;

                    window.scrollTo({
                        top: 0,
                        behavior: "smooth"
                    });
                });
        }
    </script>
}